$color-primary: #6b219c;
$color-primary-light: #d084ff;
$color-secondary: #000000;
$color-tertiary: #9c2152;

html {
  font-size: 62.5%;
}
//
.purple-back {
    background-color: $color-primary !important;
    color: #ffffff !important;
  }
  
  .red-back {
    background-color: $color-tertiary !important;
    color: #ffffff !important;
  }

  @mixin centralizar($horizontal: true, $vertical: true) {
    position: relative;
    @if ($horizontal and $vertical) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    } @else if ($horizontal) {
      left: 50%;
      transform: translate(-50%, 0);
    } @else if ($vertical) {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  .main-container {
    @include centralizar(true, false);
    max-width: 1140px;
  }

  @media(max-width: 748px){
    .main-container {
      margin-top: 56px;
    }
  }

  @media(min-width: 749px){
    .main-container {
      margin-top: 64px;
    }
  }