@import '../material/paleta.scss';

header {
    display: flex;
    margin-top: 2rem;
}


.title {
    font-size: 1.8rem;
    font-weight: lighter;
    width: 100%;
    color: $color-primary;
}

.texto-input {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0;
}

.button-form {
    background-color: $color-primary;
    color: #ffffff;
    @include centralizar(true, false);
}

.button-return {
    margin-bottom: 2%;
}

.lista-permissoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tipo-permissao {
    margin-top: .5rem;
    margin-bottom: .5rem;
}

@media screen and (min-width: 749px) {
    .lista-permissoes {
        max-height: 31rem;
    }
}

.botao-checker {
    color: $color-tertiary;
}

.header-permissao-div {
    display: flex;
}