<h1 class="title" mat-dialog-title>{{"PROBLEMADETALHES.TITULO" | translate}}</h1>
<div class="content" mat-dialog-content>
  <div class="detalhes">
    <span><strong>{{"PROBLEMADETALHES.TIPO" | translate}}:</strong> {{"RELATARPROB." + this.detalhes.problema.descProblema | translate}}</span>
    <span><strong>{{"PROBLEMADETALHES.DESCRICAO" | translate}}:</strong> {{this.detalhes.problema.descProblemaEmissor}}</span>
    <span><strong>{{"PROBLEMADETALHES.DATA" | translate}}:</strong> {{this.dia}}</span>
    <span><strong>{{"PROBLEMADETALHES.HORARIO" | translate}}:</strong> {{this.hora}}</span>
    <span><strong>Status:</strong> {{"RELATARPROB." + this.detalhes.problema.statusProblema | translate}}</span>
    <span 
      *ngIf="this.detalhes.problema.statusProblema == 'E' || this.detalhes.problema.statusProblema == 'F'"
      required
      >
      <strong>{{"PROBLEMADETALHES.OBSERVACOES" | translate}}:</strong> {{this.detalhes.problema.observacaoSolucao}}
    </span>
  </div>
  <mat-form-field
    class="example-full-width"
    *ngIf="this.detalhes.problema.statusProblema == 'A'"
    >
    <mat-label>{{"PROBLEMADETALHES.OBSERVACOES" | translate}}</mat-label>
    <textarea [(ngModel)]="this.detalhes.problema.observacaoSolucao"  matInput #message maxlength="200">
    </textarea>
    <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
    <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
  </mat-form-field>
  <div class="botoes">
      <button 
        *ngIf="this.detalhes.problema.statusProblema == 'A'"
        (click)="alterarStatus(true, 'F')"
        class="prp-btn"
        [disabled]="!this.detalhes.problema.observacaoSolucao"
        mat-raised-button
        >{{"PROBLEMADETALHES.MARCARCOMO" | translate}} {{"RELATARPROB.F" | translate}}</button>
      <button
        *ngIf="this.detalhes.problema.statusProblema == 'A'"
        (click)="alterarStatus(true, 'E')"
        class="prp-btn"
        [disabled]="!this.detalhes.problema.observacaoSolucao"
        mat-raised-button
        >{{"PROBLEMADETALHES.MARCARCOMO" | translate}} {{"RELATARPROB.E" | translate}}</button>
      <button 
        *ngIf="this.detalhes.problema.statusProblema == 'E' || this.detalhes.problema.statusProblema == 'F'"
        (click)="alterarStatus(false, 'A')"
        class="prp-btn"
        mat-raised-button
        >{{"PROBLEMADETALHES.MARCARCOMO" | translate}} {{"RELATARPROB.A" | translate}}</button>
  </div>
</div>