@import "../material/paleta.scss";

.title {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.detalhes {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.prp-btn {
    background-color: $color-primary;
    color: #fff;
}