<!-- BOTAO ALERT -->
<button class="btn btn--prp btnAlertas" 
mat-mini-fab
(click)="visibilidadeNotificacoes = !visibilidadeNotificacoes"
*ngIf="loginService.usuarioAutenticado"
>
<mat-icon  matBadge={{alertNumbers}} matBadgeColor="warn" [matBadgeHidden]="alertNumbers == 0">notifications</mat-icon>
</button>
<!-- JANELINHA DE NOTIFICACOES -->
<mat-card
class="fila_notificacoes"
*ngIf="visibilidadeNotificacoes"
(clicarFora)="fecharNotificacoes()"
>
<mat-card-header>
  {{'NOTIFICACAO.TITLE' | translate}}
</mat-card-header>

<mat-card-content>
  <!-- NOTIFICACOES -->
  <div class="fila_notificacoes__not-container" *ngFor="let alert of notificacoes">
    <!-- CONVITES -->
    <div *ngIf="alert.codConvidado" class="fila_notificacoes__flex">
      <div class="fila_notificacoes__notificacao">
      <!-- <mat-divider></mat-divider> -->
        <div class="fila_notificacoes__notificacao__texto">
          <p [ngStyle]="{'font-weight': 'bold'}">{{ 'NOTIFICACAO.CONVITETITLE' | translate }}</p>
        </div>
        <div class="fila_notificacoes__notificacao__horario">
          <p class="mensagem">
            {{'NOTIFICACAO.CONVITE' | translate}} "{{ alert.conviteFesta.nomeFesta }}".
          </p>
          <button (click)="openDialogConvite(alert)" mat-button class="btn btn--prp">
            {{'NOTIFICACAO.VER' | translate}}
          </button>
          <p>
            {{ alert.dataEmissao | amLocale:translate.currentLang | amTimeAgo }}
          </p>
        </div>
      </div>
    </div>

    <!-- NOTIFICACOES DE Estoque Mínimo -->
    <div *ngIf="alert.mensagem.includes('ESTBAIXO') && !alert.status">
        <div class="fila_notificacoes__flex">
            <div class="fila_notificacoes__notificacao">
                <!-- <mat-divider></mat-divider> -->
                <div class="fila_notificacoes__notificacao__texto">
                    <p [ngStyle]="{'font-weight': 'bold'}">{{ 'ALERTAESTOQUE.TITLE' | translate }}</p>
                </div>
                <div class="fila_notificacoes__notificacao__horario">
                    <p class="mensagem">{{'NOTIFICACAO.ESTOQUEMIN1' | translate}} "{{ alert.notificacaoEstoque.nomeProduto }}" {{'NOTIFICACAO.ESTOQUEMIN2' | translate}} "{{ alert.notificacaoEstoque.nomeFesta }} - {{ alert.notificacaoEstoque.nomeEstoque }}". {{'NOTIFICACAO.ESTOQUEMIN3' | translate}}</p>
                    <a routerLink="{{createUrlEstoque(alert.notificacaoEstoque.nomeFesta, alert.mensagem)+ '/estoque'}}">
                      <button mat-button class="btn btn--prp">
                        {{'NOTIFICACAO.STATUSCHANGE3' | translate}}
                      </button>
                    </a>
                    <p>
                      {{ alert.dataEmissao | amLocale:translate.currentLang | amTimeAgo }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- NOTIFICACOES DE CONVITE ACEITO -->
      <div *ngIf="alert.mensagem.includes('CONVACEI')">
        <div class="fila_notificacoes__flex">
            <div class="fila_notificacoes__notificacao">
              <!-- <mat-divider></mat-divider> -->
              <div class="fila_notificacoes__notificacao__texto">
                  <p [ngStyle]="{'font-weight': (alert.status == 'N' || alert.destaque == true) ? 'bold' : 'normal'}">{{'NOTIFICACAO.CONVITEACEITO' | translate}}</p>
              </div>
              <div class="fila_notificacoes__notificacao__horario">
                  <p class="mensagem">"{{ alert.usuarioFesta.nomeUsuario }}" {{'NOTIFICACAO.CONVITEACEITO1' | translate}} "{{ alert.usuarioFesta.nomeFesta }}". {{'NOTIFICACAO.CONVITEACEITO2' | translate}} "{{ alert.usuarioFesta.nomeGrupo }}".</p>
                  <p>
                    {{ alert.dataEmissao | amLocale:translate.currentLang | amTimeAgo }}
                  </p>
                </div>
            </div>
          <mat-icon class="btn--notif" (click)="abrirAlertaOpcoes(alert)">more_horiz</mat-icon>
        </div>
        <mat-card class="fila_notificacoes__notificacao__alertaOpcoes"
        *ngIf="alert.alertaOpcoes"
        (clicarFora)="alert.alertaOpcoes = false"
        >
        <div *ngIf="alert.destaque" class="desler">
            <p (click)="alterarAlerta(alert)">{{'NOTIFICACAO.SETLIDO' | translate}}</p>
        </div>
        <div *ngIf="!alert.destaque" class="desler">
            <p (click)="alterarAlerta(alert)">{{'NOTIFICACAO.SETNLIDO' | translate}}</p>
        </div>
        <!-- <mat-divider></mat-divider> -->
        <div (click)="deletarAlerta(alert)" class="apagar-notif">
            <p>{{'NOTIFICACAO.APAGAR' | translate}}</p>
        </div>
        </mat-card>
      </div>

    <!-- NOTIFICACOES DE STATUS -->
    <div *ngIf="alert.mensagem.includes('STAALTER')">
      <div class="fila_notificacoes__flex">
          <div class="fila_notificacoes__notificacao">
            <!-- <mat-divider></mat-divider> -->
            <div class="fila_notificacoes__notificacao__texto">
                <p [ngStyle]="{'font-weight': (alert.status == 'N' || alert.destaque == true) ? 'bold' : 'normal'}">{{'NOTIFICACAO.STATUSCHANGETITLE' | translate}}</p>
            </div>
            <div class="fila_notificacoes__notificacao__horario">
                <p class="mensagem">{{'NOTIFICACAO.STATUSCHANGE1' | translate}} "{{ alert.notificacaoMudancaStatus.nomeFesta }}" {{'NOTIFICACAO.STATUSCHANGE2' | translate}} 
                  <span *ngIf="alert.notificacaoMudancaStatus.tipoAlteracao === 'P'">"{{'FESTA.P' | translate}}"</span>
                  <span *ngIf="alert.notificacaoMudancaStatus.tipoAlteracao === 'I'">"{{'FESTA.I' | translate}}"</span>
                  <span *ngIf="alert.notificacaoMudancaStatus.tipoAlteracao === 'F'">"{{'FESTA.F' | translate}}"</span>
                  .
                </p>
                <a routerLink="{{createUrl(alert.notificacaoMudancaStatus.nomeFesta, alert.notificacaoMudancaStatus.codFesta)+ '/painel'}}">
                  <button mat-button class="btn btn--prp">
                    {{'NOTIFICACAO.STATUSCHANGE3' | translate}}
                  </button>
                </a>
                <p>
                  {{ alert.dataEmissao | amLocale:translate.currentLang | amTimeAgo }}
                </p>
              </div>
          </div>
        <mat-icon class="btn--notif" (click)="abrirAlertaOpcoes(alert)">more_horiz</mat-icon>
      </div>
      <mat-card class="fila_notificacoes__notificacao__alertaOpcoes"
      *ngIf="alert.alertaOpcoes"
      (clicarFora)="alert.alertaOpcoes = false"
      >
      <div *ngIf="alert.destaque" class="desler">
          <p (click)="alterarAlerta(alert)">{{'NOTIFICACAO.SETLIDO' | translate}}</p>
      </div>
      <div *ngIf="!alert.destaque" class="desler">
          <p (click)="alterarAlerta(alert)">{{'NOTIFICACAO.SETNLIDO' | translate}}</p>
      </div>
      <!-- <mat-divider></mat-divider> -->
      <div (click)="deletarAlerta(alert)" class="apagar-notif">
          <p>{{'NOTIFICACAO.APAGAR' | translate}}</p>
      </div>
      </mat-card>
    </div>

  <!-- NOTIFICACOES DE PROBLEMA DE SEGURANÇA -->
    <div *ngIf="alert.mensagem.includes('AREAPROB')  && !alert.status">
        <div class="fila_notificacoes__flex">
            <div class="fila_notificacoes__notificacao">
                <!-- <mat-divider></mat-divider> -->
                <div class="fila_notificacoes__notificacao__texto">
                    <p [ngStyle]="{'font-weight': 'bold'}">{{ 'ALERTASEGURANCA.TITLE' | translate }}</p>
                </div>
                <div class="fila_notificacoes__notificacao__horario">
                    <p class="mensagem">{{'NOTIFICACAO.SEGURANCA1' | translate}} "{{ alert.notificacaoArea.nomeArea }}", {{'NOTIFICACAO.SEGURANCA2' | translate}} "{{ alert.notificacaoArea.nomeFesta }}", {{'NOTIFICACAO.SEGURANCA3' | translate}}: {{ 'RELATARPROB.' + alert.notificacaoArea.descProblema | translate }}. {{'NOTIFICACAO.SEGURANCA4' | translate}}</p>
                    <a routerLink="{{createUrlSeguranca(alert.notificacaoArea.nomeFesta, alert.notificacaoArea.codFesta)+ '/painel-seguranca'}}">
                      <button mat-button class="btn btn--prp">
                        {{'NOTIFICACAO.STATUSCHANGE3' | translate}}
                      </button>
                    </a>
                    <p>
                      {{ alert.dataEmissao | amLocale:translate.currentLang | amTimeAgo }}
                    </p>
                </div>
            </div>
        </div>
    </div>
  </div>

</mat-card-content>
</mat-card>