@import '../material/paleta.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.main-container {
    top: 64px;
    max-width: 1140px;
    height: calc(100vh - 64px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

header {
    margin-top: 2rem;
}

.title {
    font-size: 1.8rem;
    font-weight: lighter;
    width: 100%;
    color: $color-primary;
}

.lista-grupos {
    margin: 2rem 0 0 0;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
    width: 88%;
    color: $color-tertiary;
    float: right;
    padding-left: 0;
}

.subtitle {
    text-transform: capitalize;
}

.card-content {
    padding: 1rem;
}

.button-main-action {
    background-color: $color-tertiary;
    opacity: 0.9;
    color: #ffffff;
    padding: 0;
    padding-left: .2rem;
    padding-right: .5rem;
    font-weight: 400;
}

.btn-1 {
    background-color: $color-primary;
    color: #ffffff;
    padding: .2rem;
    padding-right: .3rem;
}

table {
    width: 75%;
    margin-top: 3rem;
}

.tabela{
    border: 0;
    width: 100%;
    @include centralizar(true, false);
}

.btn-invite {
    position: absolute;
    right: 2rem;
}

.button-return {
    margin-top: 0;
}

.botoes-criar-atribuir {
    display: flex;
    gap: 2rem;
}

//MOBILE
@media (max-width: 748px){

    .title {
        margin-left: 1rem;
    }

    .botoes-criar-atribuir {
        flex-direction: column;
        margin-top: 1rem;
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    .btn-1 {
        width: 14rem;
    }

    mat-card {
        width: 90%;
        @include centralizar(true, false);
    }

    .mat-cell {
        max-width: 2rem;
        overflow: hidden;
    }
}

//DESKTOP
@media (min-width: 749px){

    header {
        display: flex;
    }
}