<div class="main-container">
    <div >
          <div layout="row">
             <div flex>
                <mat-card>.</mat-card>
                <p>inserir grupos (já feito) e lista (já feito)</p>  
             </div>
          </div>
    </div>
 </div>

 <!---HTML estático para adicionar lista feita pelo luis e cards feito pelo Tiago 
        Já nas rotas, authguard comentado, lembrar disso
        Desativar o atalho do teclado quando for fazer alteração
        scroll lock buga, desativar luz do teclado
        acabar card primeiro depois fazer melhoria na criação de festa
        tentar pegar o backup se o commit estiver salvo mas procurar só depois
        row > column
        layout-sm trabalhar com responsividade
        login com facebook bugado
        usar conta nova guiladriero@gmail.com Gui1231!
        bugando ao implementar card do tiago, testar e perguntar o motivo
        https://www.freeformatter.com/html-formatter.html
    --->