<div class="main-container">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="side" opened class="example-sidenav"
            [fixedInViewport]="options.value.fixed" 
            [fixedTopGap]="options.value.top"
            [fixedBottomGap]="options.value.bottom"
            
            >
            <button routerLink="../painel" mat-button class="botao-sidenav">{{'PAINELCONTROLE.GERAL' | translate}} <mat-icon>tab</mat-icon></button>
            <button routerLink="../estoque" mat-button class="botao-sidenav">{{'PAINELCONTROLE.ESTOQUE' | translate}} <mat-icon>store</mat-icon></button>
            <button mat-button class="botao-sidenav">{{'PAINELCONTROLE.SEGURANÇA' | translate}} <mat-icon>security</mat-icon></button>
            <button mat-button class="botao-sidenav">{{'PAINELCONTROLE.INGRESSOS' | translate}} <mat-icon> local_offer</mat-icon></button>
            <button routerLink="../relatorios" mat-button class="botao-sidenav">{{'PAINELCONTROLE.RELATORIO' | translate}} <mat-icon> format_list_numbered</mat-icon></button>
            <!-- BOTAO TOGGLE SIDENAV -->

            <button mat-icon-button class="toggle sidenavFechar" (click)="sidenav.toggle()"><mat-icon>keyboard_arrow_left</mat-icon></button>
        </mat-sidenav>
        
        <mat-sidenav-content class="center-x" [formGroup]="options">
            <button mat-icon-button class="toggle sidenavAbrir" (click)="sidenav.toggle()"><mat-icon>keyboard_arrow_right</mat-icon></button>
                <mat-list>
                    <mat-list-item>
                        <div class="titulo2">
                            <span>{{festaNome}}</span>
                        </div>
                    </mat-list-item>

                    <!-- FILA DE STATUS -->
                    <mat-list-item class="status-list center-x">
                        <div class="fila-status">
                            <mat-button-toggle-group name="status" value="{{statusFesta}}" aria-label="Status da Festa">
                                <mat-button-toggle disabled value="P"><div (click)="openDialogStatus('P')">{{'FESTA.P' | translate}}</div></mat-button-toggle>
                                <mat-button-toggle disabled value="I"><div (click)="openDialogStatus('I')">{{'FESTA.I' | translate}}</div></mat-button-toggle>
                                <mat-button-toggle disabled value="F"><div (click)="openDialogStatus('F')">{{'FESTA.F' | translate}}</div></mat-button-toggle>
                            </mat-button-toggle-group>
                        </div> 

                        <!-- BOTAO EDITAR FESTA DESKTOP -->
                            <button routerLink="../editar" mat-button class="botao-editar botao-editar-desktop">
                                {{'PAINELCONTROLE.EDITFESTA' | translate}} <mat-icon>edit</mat-icon>
                            </button>
                            
                    </mat-list-item>
                <!-- FIM FILA DE STATUS -->


                </mat-list>

                <div class="botoes-mobile">
                        <!-- EDITAR FESTA - MOBILE -->
                    <a class="botoes-mobile__item botao-editar-mobile" routerLink="../editar">
                        <button mat-button class="botao-editar botao-mobile">
                            {{'PAINELCONTROLE.EDITFESTA' | translate}}
                        </button>
                    </a>

                    <!-- BOTAO GERENCIAR - MOBILE -->
                    <a class="botoes-mobile__item" routerLink="../membros">
                        <button mat-raised-button class="gerenciar-membros-mobile prp-btn-member botao-mobile">{{'PAINELCONTROLE.GERENCIARMEMBROS' | translate}}</button>
                    </a>

                </div>
            
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabela center-X">
                    <ng-container matColumnDef="membro">
                        <th mat-header-cell *matHeaderCellDef>{{'PAINELCONTROLE.MEMBROS' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.membro}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef>{{'PAINELCONTROLE.CONVITESTATUS' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.status | translate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef><a routerLink="../membros"><button mat-raised-button class="gerenciar-membros prp-btn-member">{{'PAINELCONTROLE.GERENCIARMEMBROS' | translate}}</button></a></th>
                        <td class="ultima-celula" mat-cell *matCellDef="let element">
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <button mat-button class="botao-deletar center-X" (click)="openDialogDelete()">
                    {{'PAINELCONTROLE.DELETEFESTA' | translate}} <mat-icon>delete</mat-icon>
                </button>
                
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>