@import "../material/paleta.scss";

  .titulo1 {
    height: 5vh;
    width: 100%;
    display: block;
    margin: 31px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    /*padding-bottom: 15%;
    padding-top: 5%;*/
  }

  .titulo2 {
    height: 5vh;
    width: 100%;
    display: block;
    margin: 31px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 0%;
  }

  .main-container {
    max-width: 1500px;
    margin: 0 auto;
  }

  .prp-btn {
    background-color: $color-tertiary;
    color: #ffffff;
    width: 170px;
    text-align: center;
  }

  .layouts{
    display: inline-block;
    width: 600px;
  }

  .membros{
    display: inline-block;
    width: 377.5px;
  }

  .red-btn-acesso {
    background-color: $color-tertiary;
    color: #ffffff;
    display: inline-block;
    width: 200px;
    text-align: center;
  }

  .icons{
    display: inline-block;
    margin-left: auto;
  }

  .status{
    display: inline-block;
    text-align: center;
    padding-left: 42.5%;
    padding-right: 10px;
  }

  .grid{
    width: 200px;
    margin-top: 31px;
    margin-bottom: auto;
    text-align: right;
  }

  .menu{
    background-color: $color-tertiary;
    color: #ffffff;
    width: 170px;
  }

  .example-container {
    position: absolute;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    background: #DADADA  ;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .toggle{
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    padding: 0;
  }

  .botao-sidenav{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    padding-right: 10px;
    text-align: center;
    position: relative
  }

  .title{
    width: 100%;
    text-align: center;
    white-space: nowrap;
  }

  .list1{
    padding-bottom: 5%;
  }

  .example-card {
    max-width: 400px;
    margin-left: 34.5%;
  }

  .prp-btn-invite{
    background-color: $color-primary;
    color: #ffffff;
    display: inline-block;
    width: 200px;
  }