@import "../material/paleta.scss";

  .titulo2 {
    height: 5vh;
    width: 100%;
    display: block;
    margin: 31px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding-top: 0%;
    white-space: nowrap;
  }

  .main-container {
    max-width: 1140px;
    margin-left: 10vh;
  }

  .example-container {
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.7%;
    background: #DADADA  ;
  }
  
  .example-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  
  .example-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .toggle{
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    padding: 0;
  }
//5.32
//1.064
  .botao-sidenav{
    padding-top: 5.32vh;
    padding-bottom: 5.32vh;
    width: 100%;
    padding-right: 1.064vh;
    text-align: center;
    position: relative
  }

  .example-card {
    //max-width: 42.56vh;
    width: 73%;
    margin-left: 12.5%;
  }

  .prp-btn-invite{
    background-color: $color-primary;
    color: #ffffff;
    width: 200px;
    float: right;
  }

  table {
    width: 75%;
    margin-top: 3rem;
  }

  .icon-edit{
    position: relative;
    //transform: translateX(-50%);
    float: right;
  }

  .icon-delete{
    position: relative;
    float: right;
    //width: 100px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
  }

  th{
    padding: auto;
  }

  a{
    text-decoration: underline;
  }

  .status-list{
    margin-top: 1.5rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-bottom: 1rem;
  }

  .status-list mat-icon{
    margin-left: .3rem;
  }

  .card-header{
    margin-bottom: 1rem;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .card-content{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  

.tabela{
    margin-left: 12.5%;
}

.botao-editar {
  float: right;
  background-color: $color-tertiary;
  color: white;
  padding: 0;
  padding-left: .5rem;
}

.botao-deletar {
  margin-top: 1.5rem;
  margin-right: 18%;
  float: right;
  background-color: $color-tertiary;
  color: white;
  padding: 0;
  padding-left: .5rem;
}

.status-botao{
  position: relative;
  transform: translateX(-50%);
}

mat-button-toggle-group {
  margin-right: 12px;
}

::ng-deep mat-button-toggle :disabled{
  opacity: 1!important;
  font-weight: 500;
  cursor: pointer!important;
}