<div class="main-container">
    <div class="conteudo-festa">
        <mat-card class="festa">
            <mat-card-header>
                <mat-card-title class="title">{{festaNome}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div class="img">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="pagamento">
        <mat-card class="festa">
            <mat-card-content class="card-content-inf">
                <div class="ingressos">
                    <div *ngFor="let ingresso of this.ingressos">
                        <div *ngFor="let quantidade of ingresso.quantidade; let i = index">
                            <mat-card-title class="title-ingresso">{{'CHECKOUT.INFO' | translate }}: {{i+1}} - {{ingresso.lote.nomeLote}}</mat-card-title>
                            <mat-form-field class="campo texto-input">
                                <mat-label>{{'CHECKOUT.NOME' | translate }}</mat-label>
                                <input ng-class="{ f.nomeLote.errors }"  matInput required type="text" maxlength="45">
                            </mat-form-field>
                            <mat-form-field class="campo texto-input">
                                <mat-label>{{'CHECKOUT.SOBRENOME' | translate }}</mat-label>
                                <input ng-class="{ f.nomeLote.errors }" matInput required type="text" maxlength="45">
                            </mat-form-field>
                            <mat-form-field class="campo texto-input">
                                <mat-label>E-mail</mat-label>
                                <input ng-class="{ f.nomeLote.errors }" matInput required type="text" maxlength="45">
                            </mat-form-field>
                            <mat-form-field class="campo texto-input">
                                <mat-label>{{'CHECKOUT.CONFIRMEMAIL' | translate }}</mat-label>
                                <input ng-class="{ f.nomeLote.errors }" matInput required type="text" maxlength="45">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="card-ingressos">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-title class="ingressos-title">{{'VENDAINGRESSOS.INGRESSOS' | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <div class="textos" *ngFor="let ingresso of this.ingressos; let i = last">
                                <div class="texto">
                                    <p><b>{{'VENDAINGRESSOS.LOTE' | translate }}: {{ingresso.lote.nomeLote}}</b></p>
                                    <p><b>{{'VENDAINGRESSOS.QUANTIDADE' | translate }}: {{ingresso.quantidade?.length}}</b></p>
                                </div>
                                <mat-divider *ngIf="!i" class="divider"></mat-divider>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
            <div class="pay-buttons">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                <button class="botao prp-btn-prod" (click)="openDialogBoleto()" mat-button>
                    {{'BOLETO.BOTAO' | translate}}
                </button>
            </div>
        </mat-card>
    </div>
    <a routerLink="../">
        <button mat-button cdkFocusInitial class="button-return">
            <mat-icon>keyboard_return</mat-icon> {{'UTILS.RETURN' | translate}}
        </button>
    </a>
</div>