<div class="main-container">
    <div class="conteudo-festa">
        <mat-card class="festa">
            <mat-card-header>
                <mat-card-title class="title">{{festaNome}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div class="img">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="pagamento">
        <mat-card class="festa">
            <mat-card-header>
                <mat-card-title>{{'CHECKOUT.INFO' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content-inf">
                <mat-form-field class="campo texto-input">
                    <mat-label>{{'CHECKOUT.NOME' | translate }}</mat-label>
                    <input ng-class="{ f.nomeLote.errors }"  matInput required type="text" maxlength="45">
                </mat-form-field>
                <mat-form-field class="campo texto-input">
                    <mat-label>{{'CHECKOUT.SOBRENOME' | translate }}</mat-label>
                    <input ng-class="{ f.nomeLote.errors }" matInput required type="text" maxlength="45">
                </mat-form-field>
                <mat-form-field class="campo texto-input">
                    <mat-label>E-mail</mat-label>
                    <input ng-class="{ f.nomeLote.errors }" matInput required type="text" maxlength="45">
                </mat-form-field>
                <mat-form-field class="campo texto-input">
                    <mat-label>{{'CHECKOUT.CONFIRMEMAIL' | translate }}</mat-label>
                    <input ng-class="{ f.nomeLote.errors }" matInput required type="text" maxlength="45">
                </mat-form-field>
            </mat-card-content>
            <div class="botoes">
                <button class="botao prp-btn-finalizar" mat-button>{{'CHECKOUT.FINALIZAR' | translate }}</button>
                <a routerLink="../">
                    <button mat-button cdkFocusInitial class="button-return">
                        <mat-icon>keyboard_return</mat-icon> {{'UTILS.RETURN' | translate}}
                    </button>
                </a>
            </div>
        </mat-card>
    </div>
    <mat-card-content class="lote">
        <mat-card class="lote-lista">
            <mat-card-header>
                <mat-card-title class="ingressos-title">{{'VENDAINGRESSOS.INGRESSOS' | translate }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content-inf">
                <div class="textos">
                    <div class="texto">
                        <p><b>{{'VENDAINGRESSOS.LOTE' | translate }}: 1</b></p>
                        <p><b>{{'VENDAINGRESSOS.QUANTIDADE' | translate }}: 1</b></p>
                    </div>
                    <mat-divider class="divider"></mat-divider>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</div>