@import "../material/paleta.scss";

@media screen and (min-width: 749px) {
    h1 {
      font-size: 5rem;
    }

    .card-content-inf {
      flex-direction: row;
      justify-content: space-around;
    }

    .pay-buttons {
      flex-direction: row;
      align-items: flex-start;
      
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 748px) {

    h1 {
      font-size: 3rem;
    }

    div.example {
      font-size: 2rem;
    }

    .card-content-inf {
      flex-direction: column;
      gap: 1rem;
    }

    .pay-buttons {
      align-items: center;
      flex-direction: column;
    }
  }

.conteudo-festa {
  margin: 2rem 0 0 0;
}

.pagamento {
}

.festa {
  padding: 1rem 0 0 0;
  width: auto;
}

.lote-lista {
  padding: 1rem 0 0 0;
}

.card-content {
  padding: 0 0 1rem 0;
  overflow: hidden;
  word-wrap: break-word;
}

.textos {
  margin-top: 1rem;
  word-wrap: break-word
}

.texto {
  display: inline-block;
  margin-right: 2rem;
  word-wrap: break-word;
  max-width: 35rem;
  margin-top: 1rem;
}

.img {
  object-fit: cover;
  height: 20rem;
  background-size: cover;
  overflow: hidden;
}

.img1 {
  object-fit: fill;
  height: 20rem;
  width: 100%;
}

.card-content-inf {
  display: flex;
  padding: 1rem 2rem 1rem 2rem;
}

.subtitle {
  text-transform: capitalize;
  word-wrap: break-word;
}

.title-ingresso {
  word-wrap: break-word;
}

.botoes {
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.botao {
  color: #ffffff;
}

.prp-btn-comprar {
  background-color: $color-primary;
  width: 110px;
}

.prp-btn-finalizar {
  background-color: $color-primary;
  width: 150px;
}

.divider {
  border-top-color: black;
  opacity: 0.3;
}

.ingressos-title{
}


.texto-input {
}

.formulario-card {
  margin-top: 1rem;
  width: 100%;
  @include centralizar(true, false);
}

.pay-buttons {
  display: flex;
  gap: 1rem;
}

.botao {
  color: #ffffff;
}

.prp-btn-prod {
  background-color: $color-tertiary;
  width: 200px;
}

.mat-form-field {
  width: 100%;
}

.paypal-wrapper {
  opacity: .2;
  pointer-events: none;
  touch-action: none;
}