<div class="main-container">
  <h1 class="titulo">{{'MEUSINGRESSOS.MEUSINGR' | translate}}</h1>

  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Ativos">
      <div class="ingressos">
        <mat-card class="ingresso" *ngFor="let ingresso of this.ingressosAtivos">
          <div (click)="this.navegarURL('/festa&'+ ingresso.festa.codFesta +'/venda-ingressos')" class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>{{ingresso.festa.nomeFesta}}</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>{{ingresso.festa.codEnderecoFesta}}</span>
            <span>{{this.processardatetime(ingresso.festa.horarioInicioFesta)}}</span>
            <span>{{this.processardatetime(ingresso.festa.horarioFimFesta)}}</span>
            <span>{{'MEUSINGRESSOS.QTDE' | translate}}: {{ingresso.Qtde}}</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button (click)="gerarIngressoPDF(ingresso.listaUnidades)" *ngIf="ingresso.statusCompra === 'P'" mat-button>{{'MEUSINGRESSOS.IMPRIMIR' | translate}}</button>
            <button (click)="botaoImprimirBoleto(ingresso)"  *ngIf="ingresso.statusCompra === 'C'" mat-button>{{'MEUSINGRESSOS.BOLETO' | translate}}</button>
            <button *ngIf="ingresso.statusCompra != 'C'"  mat-button (click)="abrirQRDialog(ingresso)">{{'MEUSINGRESSOS.ABQRCODE' | translate}}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Encerrados">
      <div class="ingressos">
        <mat-card class="ingresso" *ngFor="let ingresso of this.ingressosEncerrados">
          <div (click)="this.navegarURL('/festa&'+ ingresso.festa.codFesta +'/venda-ingressos')" class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>{{ingresso.festa.nomeFesta}}</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>{{ingresso.festa.codEnderecoFesta}}</span>
            <span>{{this.processardatetime(ingresso.festa.horarioInicioFesta)}}</span>
            <span>{{this.processardatetime(ingresso.festa.horarioFimFesta)}}</span>
            <span>{{'MEUSINGRESSOS.QTDE' | translate}}: {{ingresso.Qtde}}</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button (click)="gerarIngressoPDF(ingresso.listaUnidades)" *ngIf="ingresso.statusCompra === 'P'" mat-button>{{'MEUSINGRESSOS.IMPRIMIR' | translate}}</button>
            <button (click)="botaoImprimirBoleto(ingresso)" *ngIf="ingresso.statusCompra === 'C'" mat-button>{{'MEUSINGRESSOS.BOLETO' | translate}}</button>
            <button *ngIf="ingresso.statusCompra != 'C'" mat-button (click)="abrirQRDialog(ingresso)">{{'MEUSINGRESSOS.ABQRCODE' | translate}}</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>