@import '../material/paleta.scss';
@import '~@angular/material/theming';

.titulo {
    font-size: 1.8rem;
    font-weight: lighter;
    width: 100%;
    color: $color-primary;
}

.main-container {
    top: 64px;
    max-width: 1140px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    //padding: 0 2rem 0 2rem;
}


.ingressos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
    gap: 2rem;
    justify-items: center;
    padding: 2rem;
}

.ingresso{
    height: 20rem;
    width: 12rem;
}

.card-example {
    
}