<div class="main-container">
  <h1 class="titulo">Meus Ingressos</h1>

  <mat-tab-group mat-align-tabs="center" dynamicHeight>
    <mat-tab label="Ativos">
      <div class="ingressos">
        <mat-card class="ingresso">
          <div class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>Nome do Evento</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>Endereço</span>
            <span>Horário</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <span>Imprimir Ingresso</span>
            <span>Fale com o Organizador</span>
            <span>Ver Pedido</span>
          </mat-card-actions>
        </mat-card>
        <mat-card class="ingresso">
          <div class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>Nome do Evento</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>Endereço</span>
            <span>Horário</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <span>Imprimir Ingresso</span>
            <span>Fale com o Organizador</span>
            <span>Ver Pedido</span>
          </mat-card-actions>
        </mat-card>
        <mat-card class="ingresso">
          <div class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>Nome do Evento</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>Endereço</span>
            <span>Horário</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <span>Imprimir Ingresso</span>
            <span>Fale com o Organizador</span>
            <span>Ver Pedido</span>
          </mat-card-actions>
        </mat-card>
        <mat-card class="ingresso">
          <div class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>Nome do Evento</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>Endereço</span>
            <span>Horário</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <span>Imprimir Ingresso</span>
            <span>Fale com o Organizador</span>
            <span>Ver Pedido</span>
          </mat-card-actions>
        </mat-card>
        <mat-card class="ingresso">
          <div class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>Nome do Evento</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>Endereço</span>
            <span>Horário</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <span>Imprimir Ingresso</span>
            <span>Fale com o Organizador</span>
            <span>Ver Pedido</span>
          </mat-card-actions>
        </mat-card>
        <mat-card class="ingresso">
          <div class="ingresso__imagem">
          </div>
          <mat-card-header>
            <mat-card-title>Nome do Evento</mat-card-title>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-content>
            <span>Endereço</span>
            <span>Horário</span>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <span>Imprimir Ingresso</span>
            <span>Fale com o Organizador</span>
            <span>Ver Pedido</span>
          </mat-card-actions>
        </mat-card>
        
      </div>
    </mat-tab>
    <mat-tab label="Encerrados">

    </mat-tab>
  </mat-tab-group>
</div>