<app-controle-sidenav></app-controle-sidenav>
<div class="main-container">
    <mat-list>
        <mat-list-item>
            <div class="titulo2">
                <h2>{{festaNome}}</h2>
            </div>
        </mat-list-item>

        <mat-list-item class="center-x botoes">
                <button routerLink="./forms" mat-button class="botao-forms">
                    {{'FORMS.TITLE' | translate}} <mat-icon>pie_chart</mat-icon>
                </button>
        </mat-list-item>
    </mat-list>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="{{'RELATORIOESTOQUE.TITLE' | translate}}">
            <app-relatorios-estoque></app-relatorios-estoque>
        </mat-tab>
        <mat-tab label="{{'RELATORIOSEGURANCA.TITLE' | translate}}">
            <app-relatorios-seguranca></app-relatorios-seguranca>
        </mat-tab>
        <mat-tab label="{{'RELATORIOVENDA.TITLE' | translate}}">
            <app-relatorios-venda></app-relatorios-venda>
        </mat-tab>
        <mat-tab label="Google Forms">
            <app-visualizacao-forms></app-visualizacao-forms>
        </mat-tab>
      </mat-tab-group>


</div>


<!-- <ngx-charts-bar-vertical 
[view]="[1000,400]"
[results]="saleData"
[xAxisLabel]="'Produtos'"
[legendTitle]="'Gráfico de Venda de Produtos'"
[yAxisLabel]="'Vendas'"
[legend]="true"
[showXAxisLabel]="true"
[showYAxisLabel]="true"
[xAxis]="true"
[yAxis]="true"
[gradient]="false">
</ngx-charts-bar-vertical> -->