<app-controle-sidenav></app-controle-sidenav>
<div class="main-container">
    <mat-list>
        <mat-list-item>
            <div class="titulo2">
                <h2>{{festaNome}}</h2>
            </div>
        </mat-list-item>

        <mat-list-item class="center-x botoes">
                <button routerLink="./forms" mat-button class="botao-forms">
                    {{'FORMS.TITLE' | translate}} <mat-icon>pie_chart</mat-icon>
                </button>
        </mat-list-item>
    </mat-list>

    <ngx-charts-bar-vertical 
        [view]="[1000,400]"
        [results]="saleData"
        [xAxisLabel]="'Products'"
        [legendTitle]="'Product Sale Chart'"
        [yAxisLabel]="'Sale'"
        [legend]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        [gradient]="true">
    </ngx-charts-bar-vertical>
</div>
