@import "../material/paleta.scss";

.main {
    text-align: center;
}

.texto {
    text-align: center;
    margin-top: 1rem;
}

.mat-progress-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}