@import "../material/paleta.scss";

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.button-index {
    margin-right: 1.5rem;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

a{
  text-decoration: none;
  color: inherit;
}

mat-toolbar{
  position: fixed;
  z-index: 1001 !important; // Essa gambiarra é o único workaround possível pra resolver o problema dos elementos do mat-tab passando por cima da mat-toolbar. Em qualquer outro contexto essa intervenção seria considerada má-prática.
  opacity: 1;
}

#en-btn{
  background: url("https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg");
  background-size: cover;
  background-position: center;
}

#pt-btn{
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg");
 background-size: cover;
 background-position: center;
}

@media (max-width: 748px){
  .btn-navbar {
    display: none;
  }
}

@media (min-width: 748px){
  .sidenav, #tog-btn {
    display: none;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-menu-panel, mat-menu-item, mat-menu, .no-mw {
  overflow: hidden !important;
  max-width: none !important;
}

::ng-deep .my-menu, mat-menu-item {
  width: 10px;
}

.mat-menu-panel.my-menu {
  max-width: none !important;
}

//CORES DA NAVBAR!

//botao vermelho
.btn {

  color: #ffffff;
  margin-right: .7rem;

  &--red{
    background-color: $color-tertiary;
  }
//botao roxo

  &--prp {
    background-color: $color-primary;
  }

  &--notif {
    color: #4e4e4e;
    position: relative;
    margin-right: 16px;
    float: right;
    top: 0;
    transform: translateY(-50%);

    cursor: pointer;
  }

  &--lang {
    background-size: cover;
    background-position: center;

    &--en {
      background: url("../../../assets/icons/united-states.svg");
    }
    
    &--pt {
      background-image: url("../../../assets/icons/brazil\ \(1\).svg");
    }

  }
}

//COR DA NAVBAR
.mat-toolbar.mat-primary {
  background: linear-gradient(197deg, $color-secondary 0%, $color-primary 100%);
}

::ng-deep .mat-menu-item {
  padding: 0!important;
  margin: 0!important;
}

.botao-menu {
  padding-left: 10%!important;
}

.fila_notificacoes {
  max-height: 100rem;
  width: 480px;
  max-width: 480px;
  padding: 16px 0 16px 0; 
  

  border-radius: 6px;

  position: fixed;
  right: 9.3rem;

  color: black;


  display: flex;
  flex-direction: column;

  &__convite {

    display: flex;
    justify-content: space-between;
    width: 100%;
  

    &__texto {
      display: inline-block;
      max-width: 60%;
      height: 100%;
      overflow-wrap: break-word;

      & p {
        white-space: normal;
        height: 100%;
        margin: 0;
        overflow-wrap: break-word;
      }
    }

    &__btn--invite {
      width: auto;
      display: inline-block;
    }
  }

  &__flex {

    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__not-container {

    margin-bottom: 0;
    padding: 0 1.6rem 0 1.6rem;

    &:hover {
      background-color: #f0f0f0;
    }
  }

  &__notificacao {
    width: 100%;
    min-height: 5rem;
    height: 100%;
    max-height: 100%;
    padding: 0 16px 0 16px;

    &__texto {

    }

    &__horario p {
      margin-bottom: 0;

      font-weight: lighter;
    }

    &__alertaOpcoes {
      width: auto;
      position: absolute;
      display: inline-block;
      right: 0;
      padding: 0 16px 0 16px;

      z-index: 1;

      transform: translateY(-5rem);

      & p {
        display: inline-block;
        cursor: pointer;
      }
    }
  }
}

//quebrar linha

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}