<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Pachanga</span>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <button class="button-index" mat-raised-button color="accent"><a href="../login/login.component.html">Entrar</a></button>
        <button class="button-index" mat-raised-button color="warn"><a href="#">Criar conta</a></button>
        <select #langselect (change)="translate.use(langselect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
        </select>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>