@import "../material/paleta.scss";

#logo {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
}

.button-index {
    margin-right: 15px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

a{
  text-decoration: none;
  color: inherit;
}

mat-toolbar{
  position: fixed;
  z-index: 1001 !important; // Essa gambiarra é o único workaround possível pra resolver o problema dos elementos do mat-tab passando por cima da mat-toolbar. Em qualquer outro contexto essa intervenção seria considerada má-prática.
  opacity: 1;
}


.mat-toolbar.mat-primary {

}

#en-btn{
  background: url("https://upload.wikimedia.org/wikipedia/commons/a/a4/Flag_of_the_United_States.svg");
  background-size: cover;
  background-position: center;
}

#pt-btn{
 background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg");
 background-size: cover;
 background-position: center;
}

@media (max-width: 748px){
  .btn-navbar {
    display: none;
  }
}

@media (min-width: 748px){
  .sidenav, #tog-btn {
    display: none;
  }
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}


.mat-menu-panel, mat-menu-item, mat-menu, .no-mw {
  overflow: hidden !important;
  max-width: none !important;
}

::ng-deep .my-menu, mat-menu-item {
  width: 10px;
}

.mat-menu-panel.my-menu {
  max-width: none !important;
}

//CORES DA NAVBAR!

//botao laranja
.org-btn{
  background-color: $color-tertiary;
  color: #ffffff ;
}

//botao verde
.grn-btn {
  background-color: $color-primary;
  color: #ffffff;
}

//botao roxo

.prp-btn {
  background-color: $color-primary;
  color: #ffffff;
}

//COR DA NAVBAR
.mat-toolbar.mat-primary {
  background: linear-gradient(197deg, $color-secondary 0%, $color-primary 100%);
}

::ng-deep .mat-menu-item {
  padding: 0!important;
  margin: 0!important;
}

.botao-menu {
  padding-left: 10%!important;
}
