<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a [routerLink] = "['']">Pachanga</a></span>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <button class="button-index" mat-raised-button color="accent"><a [routerLink] = "['./login']">{{'NAV.ENTRAR' | translate}}</a></button>
        <button class="button-index" mat-raised-button color="warn"><a [routerLink] = "['./cadastro']">{{'NAV.CONTA' | translate}}</a></button>
        <select #langselect (change)="translate.use(langselect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
        </select>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>