@import "../material/paleta.scss";


h1{
    color: $color-primary;
    font-size: 5rem;
    left: 1rem;
    z-index: 1;
    user-select: none;

    padding: 20px;
    padding-left: 2rem;
}

@media screen and (min-width: 601px) {
    h1 {
      font-size: 5rem;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 748px) {

    h1 {
      font-size: 3rem;
    }

    div.example {
      font-size: 2rem;
    }
  }

html {
  background-color: black;
}

.main-container {
  max-height: calc(100vh - 64px);
  overflow: hidden;
}