<app-info-complete>
</app-info-complete>
<div class="main-container">
    <h1>{{'INDEX.OLA' | translate}}</h1>

    <div *ngIf="this.loading" class="loading">
        <!-- <span class="loading__text">{{'INDEX.CARREGANDO' | translate}}...</span> -->
        <img src="./../../../assets/Spinner-1s-200px.gif" alt="">
    </div>

    <app-index-carrocel
        *ngFor="let categoria of this.categorias" class="carrocel"
        [titulo]="categoria.nomeCategoria"
        [eventos]="this.filtrarGenero(categoria.nomeCategoria, festasMostradas)">
    </app-index-carrocel>

</div>
