h1{
    color: #3f51b5;
    font-size: 5rem;
    left: 1rem;
    z-index: 1;
    user-select: none;

    padding: 20px;
    padding-left: 2rem;
}

@media screen and (min-width: 601px) {
    h1 {
      font-size: 5rem;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    div.example {
      font-size: 2rem;
    }
  }