@import "../material/paleta.scss";


h1{
    color: $color-primary;
    font-size: 5rem;
    left: 1rem;
    z-index: 1;
    user-select: none;
}


@media screen and (min-width: 601px) {
    h1 {
      font-size: 5rem;
      padding-left: 10rem;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 748px) {

    h1 {
      font-size: 3rem;
    }

    div.example {
      font-size: 2rem;
    }
  }

html {
  background-color: black;
}

.main-container {
  overflow: hidden;
  top: 64px;
  max-width: 1140px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2rem 0 2rem;
}

.lista-festas {
  margin: 2rem 0 2rem 0;
  word-wrap: break-word;
}

.festa-tab {
  padding: 1rem;
  max-width: 70rem;

  &:hover {
      background-color: #f2f2f2;
      transition: background-color 0.3s ease-in-out;
  }
}

.card-content {
  padding: 0 3.3rem 0 3.3rem;
}

.textos {
  margin-top: 1rem;
}

.texto {
  display: inline-block;
  margin-right: 2rem;
}

.subtitle {
  max-width: 69rem;
  text-transform: capitalize;
  word-wrap: break-word;
}

.carrocel {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.loading {
  @include centralizar(true, false);
  width: 5rem;

}