<h1 class="title" mat-dialog-title>{{'TERMOS.TITLE' | translate}}</h1>
<div mat-dialog-content class="main">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="{{'TERMOS.USO' | translate}}">
            <div>
                <h3>{{'USO.TITULO1' | translate}}</h3>
                <p>{{'USO.PARAGRAFO1' | translate}} <a class='link' href='https://pachanga.herokuapp.com/'> Pachanga </a> {{'USO.PARAGRAFO2' | translate}} </p>
                <h3>{{'USO.TITULO2' | translate}}</h3>
                <p>{{'USO.PARAGRAFO3' | translate}}</p>
                <ol>
                    <li>{{'USO.ELISTA1' | translate}}</li>
                    <li>{{'USO.ELISTA2' | translate}}</li>
                    <li>{{'USO.ELISTA3' | translate}}</li>
                    <li>{{'USO.ELISTA4' | translate}}</li>
                    <li>{{'USO.ELISTA5' | translate}}</li>
                </ol>
                <p>{{'USO.PARAGRAFO4' | translate}}</p>
                <h3>{{'USO.TITULO3' | translate}}</h3>
                <ol>
                    <li>{{'USO.ELISTA6' | translate}}</li>
                    <li>{{'USO.ELISTA7' | translate}}</li>
                </ol>
                <h3>{{'USO.TITULO4' | translate}}</h3>
                <p>{{'USO.PARAGRAFO5' | translate}}</p>
                <h3>{{'USO.TITULO5' | translate}}</h3>
                <p>{{'USO.PARAGRAFO6' | translate}}</p>
                <h3>{{'USO.TITULO6' | translate}}</h3>
                <p>{{'USO.PARAGRAFO7' | translate}}</p>
                <h3>{{'USO.TITULO7' | translate}}</h3>
                <p>{{'USO.PARAGRAFO8' | translate}}</p>
                <h3>{{'USO.TITULO8' | translate}}</h3>
                <p>{{'USO.PARAGRAFO9' | translate}}</p>
            </div>
        </mat-tab>
        <mat-tab label="{{'TERMOS.PRIVACIDADE' | translate}}">
            <div [innerHTML]="'PRIVACIDADE.CONTENT' | translate">
            </div>
        </mat-tab>
    </mat-tab-group>
</div>
<div mat-dialog-actions class="buttons">
    <br>
    <button mat-button mat-dialog-close cdkFocusInitial class="button">{{'TERMOS.FECHAR' | translate}}</button>
</div>