@import "../material/paleta.scss";

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    margin-top: 1rem;
}

.button {
    background-color: $color-tertiary;
    color: #ffffff;
}

a {
    color: blue;
}

a:hover {
    text-decoration: underline;
}