@import "../material/paleta.scss";

.button-form {
    margin-left: 2rem;
    background-color: $color-primary;
    color: #ffffff;
    margin-top: 1rem;
}

mat-form-field {
    width: 15rem!important;
}

.cancel-button {
    transform: translate(9rem, -2.25rem)!important;
}

.input-hidden{
    height:0;
    width:0;
    visibility: hidden;
    padding:0;
    margin:0;
    float:right;
}

.url {
    margin-top: .5rem;
}