@import "../material/paleta.scss";

.cancel-button {
    transform: translate(8rem, -3.25rem)!important;
    margin-right: 0!important;
    width: 150px;
}

.button-form {
    margin-left: 1rem;
    background-color: $color-tertiary;
    color: #ffffff;
    margin-top: 1rem;
}

mat-form-field {
    width: 15rem!important;
}