<h1 mat-dialog-title>{{'CADASTRO.CADASTRO' | translate}}</h1>
                  <!--<mat-card-subtitle>{{'CADASTRO.PREENCHER' | translate}}</mat-card-subtitle>-->
    <div mat-dialog-content>
        <button mat-raised-button color="primary" (click)="signUpWithFB()"><i class="fa fa-facebook-official"></i> {{'CADASTRO.FACE' | translate}}</button>
        <button mat-raised-button color="warn" (click)="signUpWithGoogle()"><i class="fa fa-google"></i> {{'CADASTRO.GMAIL' | translate}}</button>
        <mat-divider></mat-divider>
        <form class="example-form" (submit)="signUpWithPachanga(nomeCadastro.value, dtnascCadastro.value, sexoCadastro.value, emailCadastro.value, senhaCadastro.value)">
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.NOME' | translate}}</mat-label>
                <input #nomeCadastro matInput required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.DATANASC' | translate}}</mat-label>
                <input matInput required #dtnascCadastro>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'CADASTRO.SEXO' | translate}}</mat-label>
                <mat-select #sexoCadastro required>
                  <mat-option value="M">{{"SEXO.MASC" | translate}}</mat-option>
                  <mat-option value="F">{{"SEXO.FEM" | translate}}</mat-option>
                  <mat-option value="T">{{"SEXO.TRANS" | translate}}</mat-option>
                  <mat-option value="O">{{"SEXO.OUTRO" | translate}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input #emailCadastro matInput required placeholder="Ex. pachanga@exemplo.com">
                <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    {{'CADASTRO.EMAILERRO' | translate}}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.SENHA' | translate}}</mat-label>
                <input #senhaCadastro matInput required type="password">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.SENHA2' | translate}}</mat-label>
                <input #conf_senhaCadastro matInput required type="password">
            </mat-form-field>
            <section class="example-section"><p></p>
                <mat-checkbox class="termos">{{'CADASTRO.TERMOS' | translate}}</mat-checkbox>
            </section>
            <button class="butao cadastro-btn" mat-raised-button color="accent">{{'CADASTRO.CADASTRAR' | translate}}</button>
        </form>
    </div>