@import '../material/paleta.scss';

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.example-full-width {
    width: 100%;
  }
  
.example-h2 {
    margin: 10px;
  }
  
.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }

button {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 1rem;
  }

.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-subscript-wrapper {
  position: static !important;
}
::ng-deep .mat-form-field-underline {
  position: static !important;
}

.termos-dialog {
  cursor: pointer;
  text-decoration: underline;
  white-space: pre-wrap;
}

.termos-dialog:hover {
  color: blue;
}

.pronome {
  margin-top: .5rem;
}

.botaocad {
  background-color: #6b219c;
  color: #ffffff;
}