<h1 mat-dialog-title class="dialog">{{'CADASTRO.CADASTRO' | translate}}</h1>
                  <!--<mat-card-subtitle>{{'CADASTRO.PREENCHER' | translate}}</mat-card-subtitle>-->
    <div mat-dialog-content>
        <button mat-raised-button color="primary" (click)="signUpWithFB()"><i class="fa fa-facebook-official"></i> {{'CADASTRO.FACE' | translate}}</button>
        <button mat-raised-button color="warn" (click)="signUpWithGoogle()"><i class="fa fa-google"></i> {{'CADASTRO.GMAIL' | translate}}</button>
        <mat-divider></mat-divider>
        <form [formGroup]="form" class="example-form" (submit)="signUpWithPachanga(nomeCadastro.value, pronomeCadastro.value, dtnascCadastro.value, sexoCadastro.value, emailCadastro.value, senhaCadastro.value)">
            <mat-form-field class="example-full-width pronome">
                <mat-label>{{'CADASTRO.PRONOME' | translate}} {{'CADASTRO.CAMPOABERTO' | translate}}</mat-label>
                <input ng-class="{ f.pronome.errors }" required #pronomeCadastro formControlName="pronome" matInput [matAutocomplete]="autoPronome">
                <mat-autocomplete #autoPronome="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptionsPronome | async" [value]="option">{{option}}</mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.pronome.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.NOME' | translate}}</mat-label>
                <input ng-class="{ f.nome.errors }" #nomeCadastro matInput required formControlName="nome">
                <mat-error *ngIf="f.nome.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{'CADASTRO.DATANASC' | translate}}</mat-label>
                <input ng-class="{ f.dtnasc.errors }" (click)="picker.open()" #dtnascCadastro [max]="maxDate" matInput required formControlName="dtnasc" maxlength="10" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
                <mat-error *ngIf="f.dtnasc.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.GENERO' | translate}} {{'CADASTRO.CAMPOABERTO' | translate}}</mat-label>
                <input ng-class="{ f.sexo.errors }" required #sexoCadastro formControlName="sexo" matInput [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option}}</mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="f.sexo.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>E-mail</mat-label>
                <input ng-class="{ f.email.errors }" #emailCadastro matInput required placeholder="Ex. pachanga@exemplo.com" formControlName="email">
                <mat-error *ngIf="f.email.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
                <mat-error *ngIf="f.email.errors?.email">{{'FORMERRORS.EMAIL' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width senha-fld">
                <mat-label>{{'CADASTRO.SENHA' | translate}}</mat-label>
                <input ng-class="{ f.senha.errors }" #senhaCadastro matInput required type="password" formControlName="senha">
                <mat-error *ngIf="f.senha.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
                <mat-error *ngIf="f.senha.errors?.pattern">{{'FORMERRORS.PASSPATTERN' | translate}}</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>{{'CADASTRO.SENHA2' | translate}}</mat-label>
                <input ng-class="{ f.confirmacaoSenha.errors }" #conf_senhaCadastro matInput required type="password" formControlName="confirmacaoSenha">
                <mat-error *ngIf="f.confirmacaoSenha.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
                <mat-error *ngIf="f.confirmacaoSenha.errors?.mustMatch">{{'FORMERRORS.MATCH' | translate}}</mat-error>
            </mat-form-field>
            <section class="example-section">
                <mat-checkbox ng-class="{ f.termos.errors }" formControlName="termos" class="termos">
                    {{'CADASTRO.TERMOS' | translate}} <a (click)="openTermosUso()" class="termos-dialog">{{'CADASTRO.TERMOS2' | translate}}</a>
                </mat-checkbox>
            </section>
            <mat-error *ngIf="f.termos.errors">{{'FORMERRORS.TERMOS' | translate}}</mat-error>
            <button [disabled]="!form.valid" class="butao purple-back cadastro-btn" mat-raised-button>{{'CADASTRO.CADASTRAR' | translate}}</button>
        </form>
    </div>