@import '../material/paleta.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.main-container {
    max-width: 1140px;
    margin-left: 10vh;
}

.minhas-festas {
    margin-top: 13vh;
}

.list-festas {
    margin-top: 3vh;
    width: 198vh;
    margin-bottom: 5vh;
    padding-bottom: 0!important;
}

.title {
    font-size: 1.8rem;
    font-weight: lighter;
    width: 100%;
    color: $color-primary;
}

.card-top {
    display: flex;
    align-items: center;
    padding-bottom: .8rem;
    border-bottom: 1px solid lightgrey;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 500;
    width: 88%;
    color: $color-tertiary;
    float: right;
    padding-left: 3%;
}

.button-main-action {
    background-color: $color-tertiary;
    opacity: 0.9;
    color: #ffffff;
    padding: 0;
    padding-left: .2rem;
    padding-right: .5rem;
    font-weight: 400;
}

.nome-festa {
    font-weight: normal;
    color: $color-secondary;
    padding-left: 2.5%;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.party-body {
    display: flex;
    justify-content: center;
}

.party-body .texto {
    float: left;
    margin-right: 25%;
    padding-left: 1%;
    margin-bottom: 0;
    width: 18%;
}

.party-body button {
    background-color: $color-primary;
    color: #ffffff;
    padding: .2rem;
    padding-right: .3rem;
}

.festa-tab {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
}