<div class="main-container">
    <header>
        <h1 class="title">Minhas Festas</h1>

        <a class="botao-criar-festa" routerLink="../criar-festa">
            <button class="btn-1" mat-raised-button>
                <mat-icon>add</mat-icon> {{ 'FESTA.ADDFESTA' | translate }}
            </button>
        </a>
    </header>
    
    <div *ngFor="let festa of festas" class="lista-festas">
        <a [routerLink]="['../festas', 'festaca', 'painel']">
            <mat-card class="festa-tab">
                <mat-card-header>
                    <div mat-card-avatar><mat-icon *ngIf="isAdmin(festa)" style="color: red;">star_rate</mat-icon></div>
                    <mat-card-title>{{festa.nomeFesta}}</mat-card-title>
                    <mat-card-subtitle><span class="subtitle">{{festa.funcionalidade.toLowerCase()}}</span></mat-card-subtitle>
                </mat-card-header>
                
                <mat-card-content class="card-content">
                    <div class="descricao">
                        <p><b>Descrição</b>:{{festa.descricaoFesta}}</p>
                    </div>

                    <div class="textos">
                        <div class="texto">
                            <p><b>Status:</b> {{ 'FESTA.FINALIZADA' | translate }}</p>
                            <p><b>{{ 'FESTA.PAPEL' | translate }}:</b> {{festa.funcionalidade}}</p>
                            <p><b>Data de Inicio:</b> {{getDateFromDTF(festa.horarioInicioFesta)}}</p>
                            <p><b>Data de Fim:</b> {{getDateFromDTF(festa.horarioFimFesta)}}</p>
                        </div>
                        <div class="texto">                        
                            <p><b>1</b> {{ 'FESTA.MEMBRO' | translate }}</p>
                            <p><b>Endereço:</b> {{festa.codEnderecoFesta}}</p>
                            <p><b>Horário de Início:</b> {{getTimeFromDTF(festa.horarioInicioFesta)}}</p>
                            <p><b>Horário de Fim:</b> {{getTimeFromDTF(festa.horarioFimFesta)}}</p> 
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </a>
    </div>

    <mat-paginator [length]="8"
        [pageSize]="3"
        [hidePageSize]="true"
        class="paginator"
    >
    </mat-paginator>
</div>