@import '../material/paleta.scss';
@import '~@angular/material/theming';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

.main-container {
    top: 64px;
    max-width: 1140px;
    height: calc(100vh - 64px);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2rem 0 2rem;
}

header {
    display: flex;
    margin-top: 2rem;
}

.title {
    font-size: 1.8rem;
    font-weight: lighter;
    width: 100%;
    color: $color-primary;
}

.filtros {
    margin-top: 2rem;
    margin-bottom: .5rem;
    @include mat-elevation(0);
    
    & mat-form-field {
        max-width: 40%;
    }
    & mat-checkbox, mat-form-field {
        display: block;
    }

    &  mat-card-header {
        margin-bottom: 0;
    }

    & mat-card-content {
        display: flex;
        align-items: center;

        & * {
            margin-right: 1rem;
        }
    }
}

.lista-festas {
    margin: 2rem 0 2rem 0;
}

.nenhumafesta-msg {
    text-align: center;
    margin: 2rem 0 2rem 0;
}

.filtros-container {

    margin-top: 2rem;

    & mat-form-field {
        max-width: 40%;
    }
    & mat-checkbox, mat-form-field {
        display: block;
    } 
}

.festa-tab {
    padding: 1rem;

    &:hover {
        background-color: #f2f2f2;
        transition: background-color 0.3s ease-in-out;
    }
}


.card-title {
    font-size: 1.2rem;
    font-weight: 500;
    width: 88%;
    color: $color-tertiary;
    float: right;
    padding-left: 3%;
}

.subtitle {
    text-transform: capitalize;
}

.card-content {
    padding: 0 3.3rem 0 3.3rem;
}

.textos {
    margin-top: 1rem;
}

.button-main-action {
    background-color: $color-tertiary;
    opacity: 0.9;
    color: #ffffff;
    padding: 0;
    padding-left: .2rem;
    padding-right: .5rem;
    font-weight: 400;
}

.nome-festa {
    font-weight: normal;
    font-size: 1.5rem;
    color: $color-secondary;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}


.texto {
    display: inline-block;
    margin-right: 2rem;
}

.btn-1 {
    background-color: $color-primary;
    color: #ffffff;
    padding: .2rem;
    padding-right: .3rem;
}

.acoes {
    margin-left: 3.3rem;
}


.descricao {
    display: block;
}

.acessar-festa-btn {
    position: absolute;
    top: 50%;
}


.checkb {
    white-space: normal;
}

.loading {
    @include centralizar(true, false);
    width: 5rem;
  
  }