<h1 mat-dialog-title>{{'RELATARPROB.TITULO' | translate}} {{this.area.nomeArea}}</h1>
<div mat-dialog-content>
  <form (submit)="relatarProblema(problemaTO)">
    <mat-form-field appearance="fill">
      <mat-label>{{'RELATARPROB.PROBLEMA' | translate}}</mat-label>
      <mat-select [(value)]="problemaTO">
        <!-- <mat-option value="{{categoria.codCategoria}}">{{'CATEGORIA.' + categoria.nomeCategoria | translate}}</mat-option> -->
        <mat-option *ngFor="let problema of this.listaProblemas" [value]="problema">
          {{'RELATARPROB.' + problema.descProblema | translate}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Detalhes</mat-label>
      <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
      <!-- <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint> -->
      <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
    </mat-form-field>
    <button class="prp-btn" mat-raised-button>{{'RELATARPROB.RELATAR' | translate}}</button>
  </form>
</div>