@import "../material/paleta.scss";

.secao-evento {


    width: 100%;
    padding: 20px;
}




.carousel-cell {
    z-index: 10;
    height: 10rem !important;
    width: 16rem !important;

    &__imagem {
        width: 100%;
        height: 100%;
        background-size: cover;        
    }

    &__title {
        //display: none;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, .4);
        color: #fff;
        text-align: center;
    }

}