@import '../material/paleta.scss';

.main-container {
    max-width: 1140px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 64px;
  }

.title {
    margin-top: calc(64px + 2rem);
    font-size: 1.8rem;
    font-weight: lighter;
    width: 100%;
    color: $color-primary;
}

.tabela {
    width: 20rem;
    height: 20rem;
    border: 5px solid black;
    display: grid;

    &--00 {
        height: 2rem;
        width: 2rem;

        background-color: black;

        grid-column-start: 1;
        grid-row-start: 1;        
    }

    &--col-0 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

}

.adicionar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    & mat-icon {
        margin-left: 1rem;
    }
}

.input_and_btn {
    display: flex;
}

.membros-grid {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(12, 1fr);
    grid-gap: .2rem;
    grid-auto-flow: column;
    column-gap: 2rem;
}

.btn-1 {
    left: 50%;
    background-color: $color-tertiary;
    color: #ffffff;
    padding: .2rem;
    padding-right: .4rem;
}

.membro {
    width: 4rem;
}