.tabela-userxgrupo  {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    td, th {
        padding: 1rem;
    }

    tr:nth-child(even) {
        background-color: lightgray;
    }
}