<div class="main-container">


    <h1 class="title">Grupos de Permissões</h1>
    
    <div class="grupo-panels" *ngFor="let grupo of grupos">
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{grupo.nomeGrupo}}
                </mat-panel-title>
                <mat-panel-description>
                  Descrição breve das atribuições do {{grupo.nomeGrupo}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <h4>Membros neste grupo</h4>
              <ul class="lista-membros-grupo" *ngFor="let user of grupo.usuarios">
                <li>{{user.nomeUser}}</li>
              </ul>
              <form class="example-form">
                <mat-form-field class="example-full-width">
                  <input type="text"
                         placeholder="Nome do Usuário"
                         aria-label="Number"
                         matInput
                         [formControl]="myControl"
                         [matAutocomplete]="auto">
                  <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let membro of filteredMembros | async" [value]="membro">
                      {{membro}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </form>
              <div class="adicionar-btn">
                <mat-icon>add</mat-icon>
                <span>Adicionar</span>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
    </div>
</div>

