.main-container {
    max-width: 1140px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 64px;
  }

.title {
    margin-top: 6.6rem;
}

.tabela {
    width: 20rem;
    height: 20rem;
    border: 5px solid black;
    display: grid;

    &--00 {
        height: 2rem;
        width: 2rem;

        background-color: black;

        grid-column-start: 1;
        grid-row-start: 1;        
    }

    &--col-0 {
        grid-column-start: 1;
        grid-column-end: 1;
    }

}

.adicionar-btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;

    & mat-icon {
        margin-left: 1rem;
    }
}