<div class="main-container">
      <h1 class="title">Atribuição de Permissões</h1>
      <mat-accordion>
        <div class="grupo-panels" *ngFor="let grupo of grupos">
            <mat-expansion-panel hideToggle >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{grupo.nomeGrupo}}
                </mat-panel-title>
                <mat-panel-description>
                  Descrição breve das atribuições do {{grupo.nomeGrupo}}
                </mat-panel-description>
              </mat-expansion-panel-header>
              <h4>Membros neste grupo</h4>
              <div class="membros-grid">
                <div class="membro" *ngFor="let user of festa.membros">
                  <mat-checkbox class="example-margin">{{user.nomeUser}}</mat-checkbox>
                </div>
              </div>
              <!--
              <div class="input_and_btn">
                <form class="example-form">
                  <mat-form-field class="example-full-width">
                    <input type="text"
                           placeholder="Nome do Usuário"
                           aria-label="Number"
                           matInput
                           [formControl]="myControl"
                           [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let membro of filteredMembros | async" [value]="membro">
                        {{membro}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>
                <div class="adicionar-btn">
                  <mat-icon>add</mat-icon>
                  <span>Adicionar</span>
                </div>
              </div>
              -->
            </mat-expansion-panel>
          </div>
        </mat-accordion>
</div>

