@media (max-width: 748px){
    .info-complete {
        margin-top: 56px;
    }

    .message {
        justify-content: space-between;
    }
}

@media (min-width: 748px){
    .info-complete {
        margin-top: 64px;
    }

    .message {
        justify-content: center;
        gap: 4rem;
    }
}

.info-complete {
    display: block;
    
    position: fixed;
    width: 100%;
    z-index: 1;
}

.message {
    display: flex;
    
    align-items: center;
    background-color: rgba($color: #ff0000, $alpha: .75);
    color: #ffffff;
}

.txt {
    
}

.pefilLink {
    cursor: pointer;
    text-decoration: underline;
}

.fechar {
    margin: 0;
    float: right;
}

.closeButton {
    cursor: pointer; 
}