<app-controle-sidenav></app-controle-sidenav>
<div class="main-container">
    <h2 class="titulo2">{{festaNome}}</h2>
    <div class="botoes">
        <button [routerLink]="'../ingressos/criar-lote'" class="botao" mat-raised-button>
            {{'INGRESSO.CREATE' | translate}}
        </button>


        <button [routerLink]="'../ingressos/integracoes'" class="botao" mat-raised-button>
            {{'INTEGRACAO.CALLBUTTON' | translate}}
        </button>

            <button [routerLink]="'../ingressos/check-in'" class="botao" mat-raised-button>
                {{'CHECKIN.TITLE' | translate}}
            </button>

            <button [routerLink]="'../ingressos/cupons'" class="botao" mat-raised-button >
                {{'CUPOM.TITLE' | translate}}
            </button>
    </div>

        <mat-card *ngFor="let lote of lotes; let i = index" class="painel festa-tab">
            <mat-card-header>
                <mat-card-title>{{lote.nomeLote}}</mat-card-title>
                <mat-card-subtitle><span class="subtitle">{{lote.descLote}}</span></mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content class="card-content">
                <div class="textos">
                    <div class="texto">
                        <p><b>{{'INGRESSO.NOME' | translate}}: </b> {{lote.nomeLote}}</p>
                        <p><b>{{'INGRESSO.NUMERO' | translate}}: </b> {{lote.numeroLote}}</p>
                    </div>
                    <div class="texto">                        
                        <p><b>{{'INGRESSO.QUANTIDADE' | translate}}: </b> {{lote.quantidade}}</p>
                        <p><b>{{'INGRESSO.PRECO' | translate}}: </b> {{lote.preco}}</p>
                    </div>
                    <div class="texto">                        
                        <p><b>{{'INGRESSO.DATAHRINI' | translate}}: </b> {{getDateFromDTF(lote.horarioInicio)}} - {{getTimeFromDTF(lote.horarioInicio)}}</p>
                        <p><b>{{'INGRESSO.DATAHRFIM' | translate}}: </b> {{getDateFromDTF(lote.horarioFim)}} - {{getTimeFromDTF(lote.horarioFim)}}</p>
                    </div>
                </div>
                <div class="botoes">
                    <a routerLink={{createUrlEditLote(lote.codLote)}}>
                        <button class="botao prp-btn-edit" mat-raised-button>{{'INGRESSO.EDIT' | translate}}</button>
                    </a>
                    <!-- <a>
                        <button routerLink="./cupons" class="botao prp-btn-prod">Gerenciamento de cupons</button>
                    </a>-->
                    <button class="botao prp-btn-delete" mat-button (click)="openDialogDelete(lote, lote.codLote)">{{'INGRESSO.DELETE' | translate}}</button>
                </div>
            </mat-card-content>
        </mat-card>
    <app-dialog-dados-bancarios></app-dialog-dados-bancarios>
</div>