<app-controle-sidenav></app-controle-sidenav>
<div class="main-container">
    <h2 class="titulo2">{{festaNome}}</h2>
    <div class="botoes">
        <button [routerLink]="'../ingressos/criar-lote'" class="botao" mat-raised-button>
            {{'INGRESSO.CREATE' | translate}}
        </button>


        <button [routerLink]="'../ingressos/integracoes'" class="botao" mat-raised-button>
            {{'INTEGRACAO.CALLBUTTON' | translate}}
        </button>

            <button [routerLink]="'../ingressos/check-in'" class="botao" mat-raised-button>
                {{'CHECKIN.TITLE' | translate}}
            </button>

            <button [routerLink]="'../ingressos/cupons'" class="botao" mat-raised-button >
                {{'CUPOM.TITLE' | translate}}
            </button>
    </div>

        <mat-card *ngFor="let lote of lotes; let i = index" class="painel festa-tab">
            <mat-card-header>
                <mat-card-title>{{lote.nomeLote}}</mat-card-title>
                <mat-card-subtitle><span class="subtitle">{{lote.descLote}}</span></mat-card-subtitle>
            </mat-card-header>
            
            <mat-card-content class="card-content">
                <div class="textos">
                    <div class="texto">
                        <p><b>{{'INGRESSO.NOME' | translate}}: </b> {{lote.nomeLote}}</p>
                        <p><b>{{'INGRESSO.NUMERO' | translate}}: </b> {{lote.numeroLote}}</p>
                    </div>
                    <div class="texto">                        
                        <p><b>{{'INGRESSO.QUANTIDADE' | translate}}: </b> {{lote.quantidade}}</p>
                        <p><b>{{'INGRESSO.PRECO' | translate}}: </b> {{lote.preco}}</p>
                    </div>
                    <div class="texto">                        
                        <p><b>{{'INGRESSO.DATAHRINI' | translate}}: </b> {{getDateFromDTF(lote.horarioInicio)}} - {{getTimeFromDTF(lote.horarioInicio)}}</p>
                        <p><b>{{'INGRESSO.DATAHRFIM' | translate}}: </b> {{getDateFromDTF(lote.horarioFim)}} - {{getTimeFromDTF(lote.horarioFim)}}</p>
                    </div>
                </div>
                <div class="botoes">
                    <a routerLink={{createUrlEditLote(lote.codLote)}}>
                        <button class="botao prp-btn-edit" mat-raised-button>{{'INGRESSO.EDIT' | translate}}</button>
                    </a>
                    <!-- <a>
                        <button routerLink="./cupons" class="botao prp-btn-prod">Gerenciamento de cupons</button>
                    </a>-->
                    <button class="botao prp-btn-delete" mat-button (click)="openDialogDelete(lote, lote.codLote)">{{'INGRESSO.DELETE' | translate}}</button>
                </div>
            </mat-card-content>
        </mat-card>

    <h2 class="titulo2">{{'INGRESSO.DADOSBANC' | translate}}</h2>
    <div class="info">
        <p 
            
            class="info-box">{{'INGRESSO.DADOSBANCINFO' | translate}}</p>
    </div>
    <mat-card class="painel">
        <form class="form" #model = "ngForm" (ngSubmit)="salvarDadosBancarios(model)">
            <mat-form-field appearance="fill">
                <mat-label>{{'INGRESSO.BANCO' | translate}}</mat-label>
                <mat-select ngModel #codBanco name="codBanco" [disabled]="!this.dadosBancEditavel">
                <mat-option *ngFor="let banco of this.listaBancos" [value]="banco.value">
                    {{banco.value}} - {{banco.label}}
                </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="agenciaconta">
                <mat-form-field class="form__agencia">
                    <mat-label>{{'INGRESSO.AGENCIA' | translate}}</mat-label>
                    <input matInput ngModel #codAgencia name="codAgencia" [disabled]="!this.dadosBancEditavel" class="form__agencia" mask="0000">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error> -->
                </mat-form-field>
                <mat-form-field class="form__conta">
                    <mat-label>{{'INGRESSO.CONTA' | translate}}</mat-label>
                    <input matInput ngModel name="codConta" [disabled]="!this.dadosBancEditavel" class="form__conta" mask="00000-0">
                    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
                    <!-- <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error> -->
                </mat-form-field>
            </div>
            <button 
                mat-button
                class="botao"
                (click)="this.editarDadosBancarios()"
                *ngIf="!this.dadosBancEditavel">{{'INGRESSO.EDITAR' | translate}}</button>
            <button
                mat-button 
                class="botao" 
                type="submit"
                [disabled]="!model.value.codBanco || !model.value.codAgencia || !model.value.codConta || !model.valid"
                *ngIf="this.dadosBancEditavel">{{'INGRESSO.SALVAR' | translate}}</button>
        </form>
    </mat-card>
</div>