<mat-grid-list cols="3" rowHeight="100vh">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile id="title">
        <mat-card>
            
            <mat-card-title>Login</mat-card-title>
            <mat-card-content>
                <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <mat-label>{{'LOGIN.USUARIO' | translate}}</mat-label>
                      <input matInput >
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width">
                      <mat-label>{{'LOGIN.SENHA' | translate}}</mat-label>
                      <input matInput type="password">
                    </mat-form-field>
                    <button class="button-index" mat-raised-button color="accent">{{'LOGIN.ENTRAR' | translate}}</button>
                    <mat-divider [inset]="true"></mat-divider>
                    <button class="button-index" mat-raised-button color="warn">{{'LOGIN.CONTA' | translate}}</button>
                    <mat-divider [inset]="true"></mat-divider>
                    <a href="#">{{'LOGIN.FACE' | translate}}</a>
                    <a href="#">{{'LOGIN.GMAIL' | translate}}</a>
                  </form>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>