mat-form-field {
    display: block;
}

mat-card {
    width: 20rem;
}

mat-card-content {
   // position: relative;
   // top: 50%;
   // transform: translateY(-50%);

}

a, button {
    display: block;
    margin: 10px;
}