<h1 mat-dialog-title>{{'CUPOM.EDIT' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="form" (submit)="editarCupom(dataInicio.value, dataFim.value)">
        <mat-form-field>
            <mat-label>{{'CUPOM.CODCUPOM' | translate}}</mat-label>
            <input ng-class="{ f.nomeCupom.errors }" #nomeCupom formControlName="nomeCupom" matInput required>
            <mat-error *ngIf="f.nomeCupom.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>




        <mat-form-field>
            <mat-label>{{'CUPOM.DATAINI' | translate}}</mat-label>
            <input [min]="minDate" ng-class="{ f.inicioData.errors }" #dataInicio formControlName="inicioData" matInput required (click)="pickerInicioData.open()" [matDatepicker]="pickerInicioData">
            <mat-datepicker-toggle matSuffix [for]="pickerInicioData" ></mat-datepicker-toggle>
            <mat-datepicker #pickerInicioData ></mat-datepicker>
            <mat-error *ngIf="f.inicioData.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{'CUPOM.DATAFIM' | translate}}</mat-label>
            <input [min]="minDate" ng-class="{ f.fimData.errors }" #dataFim formControlName="fimData" matInput required (click)="pickerFimData.open()" [matDatepicker]="pickerFimData">
            <mat-datepicker-toggle matSuffix [for]="pickerFimData" ></mat-datepicker-toggle>
            <mat-datepicker #pickerFimData ></mat-datepicker>
            <mat-error *ngIf="f.fimData.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>


        

        <mat-form-field>
            <mat-label>{{'CUPOM.TIPO' | translate}}</mat-label>
            <mat-select #tipoDesconto formControlName="tipoDesconto">
                <mat-option value="P">{{'CUPOM.TIPOPORCENTAGEM' | translate}}</mat-option>
                <mat-option value="V">{{'CUPOM.TIPOVALOR' | translate}}</mat-option>
            </mat-select>
            <mat-error *ngIf="f.tipoDesconto.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="f.tipoDesconto.value === 'V'">
            <mat-label>{{'CUPOM.DESCONTOVAL' | translate}}</mat-label>
            <input ng-class="{ f.precoDesconto.errors }" #precoDesconto formControlName="precoDesconto" type="number" matInput required>
            <mat-error *ngIf="f.precoDesconto.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="f.tipoDesconto.value === 'P'">
            <mat-label>{{'CUPOM.DESCONTOPOR' | translate}}</mat-label>
            <input ng-class="{ f.porcentagemDesc.errors }" #porcentagemDesc formControlName="porcentagemDesc" type="number" matInput required>
            <mat-error *ngIf="f.porcentagemDesc.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <br>
        <button class="button-form" mat-raised-button [disabled]="!form.valid">{{'CUPOM.CONFIRM' | translate}}</button>
    </form>
    <button class="cancel-button" mat-button mat-dialog-close>{{'CUPOM.CANCEL' | translate}}</button>
</div>
