@import '../material/paleta.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

@media (max-width: 748px) {
  table{
    width: 100%;
  }

  .mat-header-cell {
    padding: 5px;
  }

  .mat-cell {
    padding: 5px;
  }
}

@media (min-width: 749px) {
  table{
    width: 75%;
  }
}

.main-container {
  top: 15px;
  max-width: 1140px;
  height: calc(100vh - 64px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2rem 0 2rem;
}

.header-flex {
  @include centralizar(true, false);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: lighter;
  width: 100%;
  color: $color-primary;
}

header {
  display: flex;
}

table {
  @include centralizar(true, false);
  margin: 0 0 1rem 0;
}

th {
  padding: auto;
}

.mat-header-cell {
  margin-right: 5px !important;
}

.icons-column {
  display: flex;
  flex-direction: column;
}

.btn-1 {
  background-color: $color-tertiary;
  color: #ffffff;
  padding: .2rem;
  padding-right: 2rem;
  margin-left: 2rem;
}

.button-return {
  margin-top: .5%;
}


th, td {
  font-size: 1rem;
}

.botao-repeat {
  display: block;
  margin-left: auto;
  margin-right: auto;

  background-color: $color-tertiary;
  color: white;
  padding-right: .2rem;
  margin-top: .5rem;
}

.form-ticket {
  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 50%;
  max-height: 50%;
}

.button-form {
  background-color: $color-tertiary;
  color: white;
  padding-right: .5rem;
  padding-left: .5rem;
}

.form-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.separator {
  margin-top: 1rem;
  margin-bottom: .6rem;
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}

.div-tipo {
  margin-bottom: 1rem!important;
  text-align: center;
}

.mat-button-toggle {
  border: 1px solid black;
}

::ng-deep mat-button-toggle{
  opacity: 1!important;
  font-weight: 500;
  cursor: pointer!important;
}

.mat-button-toggle-checked {
  background-color: #7E7675;
}

@media (max-width: 748px) {
  .scanner {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ::ng-deep video {
    height: 70vh!important;
  }

  .div-imagens {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .scanner-image {
    width: 100%;
    height: 70vh!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.7;
  }
}

@media (min-width: 749px) {
  .scanner {
    width: 100%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  ::ng-deep video {
    height: 70vh!important;
  }

  .div-imagens {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .scanner-image {
    width: 100%;
    height: 70vh!important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.7;
  }
}