@import '../material/paleta.scss';


@media (max-width: 748px) {

  // .mat-header-cell {
  //   padding: 5px;
  // }

  // .mat-cell {
  //   padding: 5px;
  // }


  .nome {
    max-width: 7rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .url {
    max-width: 5rem;
  }

  .table {
    max-width: 100% !important;
    
  }
  .icons-column {
    flex-direction: column;
  }
}

@media (min-width: 749px) {
  .url {
    max-width: 10rem;
  }

  .icons-column {
    flex-direction: row;
  }

  .tabela {
    width: 100%;
  }
}

.header-flex {
  @include centralizar(true, false);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: lighter;
  width: 100%;
  color: $color-primary;
}

header {
  display: flex;
  margin-top: 2rem;
}

table {
  @include centralizar(true, false);
  border-collapse: separate;
  border-spacing: 1rem 0;
}


.mat-header-cell {
  padding: 1rem;
}

.icons-column {
  display: inline-flex;
  position: relative;
  right: 0;
}

.actions {
  width: .5rem;
  padding: 0;
  min-width: 0 !important;
}

.btn-1 {
  background-color: $color-tertiary;
  color: #ffffff;
  padding: .2rem;
  padding-right: .5rem;
  margin-left: 2rem;
}

.button-return {
  margin-top: .5%;
}


th, td {
  font-size: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 1rem;
}

.url {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nome {
}