@import '../material/paleta.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

@media (max-width: 748px) {
  table{
    width: 100%;
  }

  .main-container {
  }

  .mat-header-cell {
    padding: 5px;
  }

  .mat-cell {
    padding: 5px;
  }
}

@media (min-width: 749px) {
  table{
    width: 75%;
  }
}

.main-container {
  top: 64px;
  max-width: 1140px;
  height: calc(100vh - 64px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2rem 0 2rem;
}

.header-flex {
  @include centralizar(true, false);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.8rem;
  font-weight: lighter;
  width: 100%;
  color: $color-primary;
}

header {
  display: flex;
  margin-top: 2rem;
}

table {
  @include centralizar(true, false);
  margin: 0 0 1rem 0;
}

th {
  padding: auto;
}

.icon-delete{

}

.icon-edit {

}

.mat-header-cell {
  margin-right: 5px !important;
}

.icons-column {
  display: flex;
  flex-direction: column;
}

.btn-1 {
  background-color: $color-tertiary;
  color: #ffffff;
  padding: .2rem;
  padding-right: .5rem;
  margin-left: 2rem;
}

.button-return {
  margin-top: .5%;
}


th, td {
  font-size: 1rem;
}