@import "../material/paleta.scss";

.btn {
    background-color: $color-primary;
    color: #fff;
    margin-top: 1rem;
    width: 10rem;
    @include centralizar(true, false);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}