<h1 mat-dialog-title>{{'ALERTAESTOQUE.TITLE' | translate}}</h1>
    <div mat-dialog-content>
        <p>{{'NOTIFICACAO.ESTOQUEMIN1' | translate}} "{{ notificacao.notificacaoEstoque.nomeProduto }}" {{'NOTIFICACAO.ESTOQUEMIN2' | translate}} "{{ notificacao.notificacaoEstoque.nomeFesta }} - {{ notificacao.notificacaoEstoque.nomeEstoque }}". {{'NOTIFICACAO.ESTOQUEMIN3' | translate}}</p>
        <p><strong>{{'FESTA.PARTYNAME' | translate}}:</strong> {{notificacao.notificacaoEstoque.nomeFesta}}</p>
        <p><strong>{{'ESTOQUE.NOMEESTOQUE' | translate}}:</strong> {{notificacao.notificacaoEstoque.nomeEstoque}}</p>
        <p><strong>{{'PRODUTO.PRODUCT' | translate}}:</strong> {{notificacao.notificacaoEstoque.nomeProduto}}</p>
        <p><strong>{{'ESTOQUEPROD.QTDATUAL' | translate}}:</strong> {{notificacao.notificacaoEstoque.quantAtual}}</p>
        <div class="botoes">
            <a routerLink="{{ getUrlFesta() }}">
                <button class="botoes__btn" mat-raised-button mat-dialog-close color="primary" > {{'ALERTAESTOQUE.REDIRECIONAR' | translate}} </button>
            </a>
        </div>
    </div>