<div class="main-container">
    <div class="conteudo-festa">
        <mat-card class="festa">
            <mat-card-header>
                <mat-card-title class="title">{{festa.nomeFesta}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <div class="img">
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="conteudo-lote">
        <mat-card class="festa">
            <mat-card-content class="card-content-inf">
                <div class="textos">
                    <div class="texto">
                        <p><b>{{ 'FESTA.INICIODATA' | translate }}:</b> {{getDateFromDTF(festa.horarioInicioFesta)}}</p>
                        <p><b>{{ 'FESTA.FIMDATA' | translate }}:</b> {{getDateFromDTF(festa.horarioFimFesta)}}</p>
                    </div>
                    <div class="texto">
                        <p><b>{{ 'FESTA.INICIOHORA' | translate }}:</b> {{getTimeFromDTF(festa.horarioInicioFesta)}}</p>
                        <p><b>{{ 'FESTA.FIMHORA' | translate }}:</b> {{getTimeFromDTF(festa.horarioFimFesta)}}</p> 
                    </div>
                </div>
                <div class="texto">
                    <p><b>{{ 'FESTA.ENDERECO' | translate }}:</b> {{festa.codEnderecoFesta}}</p>
                    <p><b>{{ 'FESTA.DESCRIPTION' | translate }}:</b> {{festa.descricaoFesta}}</p>
                </div>
                <div class="lote">
                    <mat-card class="lote-lista">
                        <mat-card-header>
                            <mat-card-title class="ingressos-title">{{'VENDAINGRESSOS.INGRESSOS' | translate }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="card-content-inf">
                            <div class="textos">
                                <div class="texto">
                                    <div *ngFor="let lote of lotes">
                                        <p><b>{{'VENDAINGRESSOS.LOTE' | translate }}:</b> {{lote.nomeLote}}</p>
                                        <mat-form-field class="remove">
                                            <p><b>{{'VENDAINGRESSOS.QUANTIDADE' | translate }}:</b><input matInput type="number" min="1"></p>
                                        </mat-form-field>
                                        <mat-divider class="divider"></mat-divider>
                                    </div>
                                </div>
                            </div>
                            <div class="botoes">
                                <button class="botao prp-btn-comprar" mat-button>{{'VENDAINGRESSOS.COMPRAR' | translate }}</button>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>