@import "../material/paleta.scss";

@media screen and (min-width: 749px) {
    h1 {
      font-size: 5rem;
    }

    .card-content-inf {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
    }

    
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 748px) {
    .card-content-inf {
      flex-direction: column;
    }
  }

html {
  background-color: black;
}

.conteudo-festa {
  margin: 2rem 0 2rem 0;
}

.conteudo-lote {
}

.festa {
  padding: 1rem 0 0 0;
}

.lote-lista {
}

.card-content {
  padding: 0 0 1rem 0;
  overflow: hidden;
  word-wrap: break-word;
}

.textos {
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.texto {
  display: inline-block;
  word-wrap: break-word;
}

.img {
  object-fit: fill;
  height: 20rem;
  width: 100%;
}

.card-content-inf {
  display: flex;
  padding: 0 1rem 0 1rem;
  align-items: center;
}

.lote {
}

.title {
}

.subtitle {
  text-transform: capitalize;
  word-wrap: break-word;
}

.botoes {
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.botao {
  color: #ffffff;
}

.prp-btn-comprar {
  background-color: $color-primary;
  width: 110px;
  margin-top: 1rem;
}

.divider {
  border-top-color: black;
  opacity: 0.3;
}

.ingressos-title{

}

.success {
  color: green;
}

.failed {
  color: red;
}

.mat-form-field-infix {
  margin-top: 0!important;
}