<div class="main-container">
    <div class="conteudo-festa">
        <mat-card class="festa">
            <mat-card-header>
                <mat-card-title class="title">{{festa.nomeFesta}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card-content">
                <img class="img" src="{{festa.urlImagem}}">
            </mat-card-content>
        </mat-card>
    </div>
    <div class="conteudo-lote">
        <mat-card class="festa">
            <mat-card-content class="card-content-inf">
                <div class="textos">
                    <div class="texto">
                        <p><b>{{ 'FESTA.INICIODATA' | translate }}:</b> {{getDateFromDTF(festa.horarioInicioFesta)}}</p>
                        <p><b>{{ 'FESTA.FIMDATA' | translate }}:</b> {{getDateFromDTF(festa.horarioFimFesta)}}</p>
                    </div>
                    <div class="texto">
                        <p><b>{{ 'FESTA.INICIOHORA' | translate }}:</b> {{getTimeFromDTF(festa.horarioInicioFesta)}}</p>
                        <p><b>{{ 'FESTA.FIMHORA' | translate }}:</b> {{getTimeFromDTF(festa.horarioFimFesta)}}</p>
                    </div>
                </div>
                <div class="texto">
                    <p><b>{{ 'FESTA.ENDERECO' | translate }}:</b> {{festa.codEnderecoFesta}}</p>
                    <p><b>{{ 'FESTA.DESCRIPTION' | translate }}:</b> {{festa.descricaoFesta}}</p>
                </div>
                <div class="lote">
                    <mat-card class="lote-lista">
                        <mat-card-header>
                            <mat-card-title class="ingressos-title">{{'VENDAINGRESSOS.INGRESSOS' | translate }}</mat-card-title>
                        </mat-card-header>
                        <form [formGroup]="form" (submit)="checkout()">
                            <mat-card-content class="card-content-inf">
                                <div class="textos">
                                    <div class="texto">
                                        <div *ngFor="let lote of lotes; let preco of precoLote">
                                            <p><b>{{'VENDAINGRESSOS.LOTE' | translate }}:</b> {{lote.nomeLote}}</p>
                                            <div *ngIf="this.cupomDesc;">
                                                <div *ngIf="cupomDesc.tipoDesconto == 'P'">
                                                    <p style="color: green;"><b>{{'VENDAINGRESSOS.PRECO' | translate }}:</b> R${{parserFloat(calcDesconto(lote.preco, cupomDesc.precoDesconto, cupomDesc.porcentagemDesc, cupomDesc.tipoDesconto))}}</p>
                                                </div>
                                                <div *ngIf="cupomDesc.tipoDesconto == 'V'">
                                                    <p style="color: green;"><b>{{'VENDAINGRESSOS.PRECO' | translate }}:</b> R${{parserFloat(calcDesconto(lote.preco, cupomDesc.precoDesconto, cupomDesc.porcentagemDesc, cupomDesc.tipoDesconto))}}</p>
                                                </div>
                                            </div>
                                            <div *ngIf="!this.cupomDesc;">
                                                <p><b>{{'VENDAINGRESSOS.PRECO' | translate }}:</b> R${{parserFloat(lote.preco)}}</p>
                                            </div>
                                            <mat-form-field class="remove">
                                                <p><b>{{'VENDAINGRESSOS.QUANTIDADE' | translate }}:</b><input matInput formControlName="quantidade-{{lote.codLote}}" type="number"></p>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div class="botoes">
                                    <button class="botao prp-btn-comprar" [disabled]="validationFormButton()" mat-raised-button>{{'VENDAINGRESSOS.COMPRAR' | translate }}</button>
                                </div>
                            </mat-card-content>
                        </form>
                        <mat-divider class="divider"></mat-divider>
                        <form [formGroup]="form2" (submit)="aplicarCupom(cupom.value)">
                            <div class="card-content-inf">
                                <div class="textos">
                                    <div class="texto" [ngClass]="{'success': colorCheck === 'verde', 'failed': colorCheck === 'vermelho'}">
                                        <mat-form-field class="remove">
                                            <p><b>{{'VENDAINGRESSOS.CUPOM' | translate }}: </b><input matInput type="text" #cupom formControlName="cupom"></p>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="botoes">
                                    <button class="botao prp-btn-comprar" mat-raised-button [disabled]="!form2.valid">{{'VENDAINGRESSOS.APLICAR' | translate }}</button>
                                </div>
                            </div>
                        </form>
                    </mat-card>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>