@import "../material/paleta.scss";

@media screen and (min-width: 601px) {
    h1 {
      font-size: 5rem;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 748px) {

    h1 {
      font-size: 3rem;
    }

    div.example {
      font-size: 2rem;
    }
  }

html {
  background-color: black;
}

.main-container {
  top: 64px;
  max-width: 1140px;
  height: calc(100vh - 64px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 2rem 0 2rem;
}

.conteudo-festa {
  margin: 2rem 0 2rem 0;
}

.conteudo-lote {
  margin: 2rem 0 2rem 0;
}

.festa {
  padding: 1rem 0 0 0;
}

.lote-lista {
  padding: 1rem 0 0 0;
}

.card-content {
  padding: 0 0 0 0;
  overflow: hidden;
  word-wrap: break-word
}

.textos {
  margin-top: 1rem;
  word-wrap: break-word
}

.texto {
  display: inline-block;
  margin-right: 2rem;
  word-wrap: break-word;
  max-width: 35rem;
}

.img {
  object-fit: cover;
  height: 20rem;
  background-size: cover;
  background-image: url('https://material.angular.io/assets/img/examples/shiba2.jpg');
  overflow: hidden;
}

.card-content-inf {
  padding: 0 3.3rem 0 3.3rem;
}

.lote {
  padding: 0 3.3rem 3.3rem 40rem;
  margin-top: -6.5rem;
}

.title {
  padding: 0 0 0 30rem;
}

.subtitle {
  text-transform: capitalize;
  word-wrap: break-word;
}

.botoes {
  flex-direction: column;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  padding: 0 0 1rem 1rem;
}

.botao {
  color: #ffffff;
}

.prp-btn-comprar {
  background-color: $color-primary;
  width: 200px;
  margin-top: 1rem;
}

.divider {
  border-top-color: black;
  opacity: 0.3;
}

.ingressos-title{
  padding-left: 7rem;
}