<mat-expansion-panel hideToggle class="painel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'RELATORIOSEGURANCA.PROBAREA' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="relatorio-container" *ngIf="this.problemasPorArea.length > 0">
    <ngx-charts-pie-chart
    [scheme]="colorScheme"
    [results]="this.problemasPorArea"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [legendTitle]="'RELATORIOSEGURANCA.AREA' | translate"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    >
  </ngx-charts-pie-chart>
  </div>
  <div *ngIf="this.problemasPorArea.length === 0" class="nenhum-resultado">
    <p>{{'RELATORIOESTOQUE.SEMRESULTADO' | translate}}</p>
</div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="painel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'RELATORIOSEGURANCA.CONCSOL' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="relatorio-container" *ngIf="this.resolucoesPorUsuario.length > 0">
    <ngx-charts-bar-vertical-stacked
      [scheme]="colorScheme"
      [results]="this.resolucoesPorUsuario"
      [xAxis]="true"
      [yAxis]="true"
      [legend]="true"
      [legendTitle]="'RELATORIOSEGURANCA.STATUS' | translate"
      [showXAxisLabel]="true"
      [showYAxisLabel]="true"
      [xAxisLabel]="'RELATORIOSEGURANCA.USUARIO' | translate"
      [yAxisLabel]="'RELATORIOSEGURANCA.PROBLEMA' | translate"
      [animations]="true">
    </ngx-charts-bar-vertical-stacked>
  </div>
  <div *ngIf="this.resolucoesPorUsuario.length === 0" class="nenhum-resultado">
    <p>{{'RELATORIOESTOQUE.SEMRESULTADO' | translate}}</p>
</div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle class="painel">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{'RELATORIOSEGURANCA.CONCXTOTAL' | translate}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="relatorio-container" *ngIf="this.emissoesChamadas.length > 0">
    <ngx-charts-pie-chart
    [scheme]="colorScheme"
    [results]="this.emissoesChamadas"
    [legend]="showLegend"
    [legendPosition]="legendPosition"
    [legendTitle]="'RELATORIOSEGURANCA.USUARIO' | translate"
    [labels]="showLabels"
    [doughnut]="isDoughnut"
    >
  </ngx-charts-pie-chart>
  </div>
  <div *ngIf="this.emissoesChamadas.length === 0" class="nenhum-resultado">
    <p>{{'RELATORIOESTOQUE.SEMRESULTADO' | translate}}</p>
</div>
</mat-expansion-panel>