/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.cadastro-btn{
    background-color: #ff8040 !important;
}

button {
    display: block;
    margin: 10px;
}

a{
    text-decoration: none;
    color: inherit;
  }

  