<div class="index"> 
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Pachanga</span>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <button class="button-index" mat-raised-button color="accent">Entrar</button>
        <button class="button-index" mat-raised-button color="warn">Criar conta</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-grid-list cols="3" rowHeight="100px">
    <mat-grid-tile>
    </mat-grid-tile>
    <mat-grid-tile >Hellow World, Pachanga</mat-grid-tile>
  </mat-grid-list>
</div>