<div class="main-container">
    <header>
        <h1 class="title">{{ 'GRUPO.CREATEGROUP' | translate }}</h1>
    </header>
    <div class="form-div">
        <mat-card class="form-tab">
            <mat-card-content class="card-content">
                <form [formGroup]="form" (submit)="criarGrupo(nomeGrupo.value)">
                    <mat-form-field class="texto-input">
                        <mat-label>{{'GRUPO.NAME' | translate}}</mat-label>
                        <input ng-class="{ f.nomeGrupo.errors }" #nomeGrupo formControlName="nomeGrupo" matInput required>
                        <mat-error *ngIf="f.nomeGrupo.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
                    </mat-form-field>
                    <br>
                    <div class="lista-permissoes">
                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.GERAL' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'GE'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>
                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.GRUPE' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'GP'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>
                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.ESTO' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'ES'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>
                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.SEGU' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'SE'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>

                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.LOTE' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'LI'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>
                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.CHIN' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'CH'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>
                            <h3 class="tipo-permissao">{{'TIPOPERMISSAO.RELA' | translate}}</h3>
                            <div *ngFor="let permissao of this.permissoes | permissionFilter:'RE'">
                                <mat-checkbox (click)='updateListaPermissao(permissao)' formControlName="{{permissao.descPermissao}}">
                                    {{ 'PERMISSAO.' + permissao.descPermissao | translate }}
                                </mat-checkbox>
                            </div>
                    </div>
                    <br>
                    <button [disabled]="!form.valid" class="button-form" mat-raised-button>
                        <mat-icon>add</mat-icon> {{'GRUPO.CREATEGROUP' | translate}}
                    </button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
    <a routerLink="../">
        <button mat-button cdkFocusInitial class="button-return">
            <mat-icon>keyboard_return</mat-icon> {{'UTILS.RETURN' | translate}}
        </button>
    </a>
</div>