<div class="minha-conta">
    <h1 class=".mat-title title">Minha Conta</h1>
</div>
<div class="dados-conta">
    <div class="subtitulo">
      <h2 class="mat-subheading-2">Dados da Conta</h2>
    </div>
    <div class="formulario">
      <mat-form-field appearance="legacy" class="formfield">
        <mat-label>{{'PERFIL.NAME' | translate}}</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>create</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="formfield">
        <mat-label>{{'PERFIL.PASSWORD' | translate}}</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>create</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </div>
</div>
<div class="configuracoes">
    <div class="subtitulo">
      <h2 class="mat-subheading-2">Configurações</h2>
    </div>
    <div class="formulario">
      <mat-form-field appearance="legacy" class="formfield">
        <mat-label>{{'PERFIL.NAME' | translate}}</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>create</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="legacy" class="formfield">
        <mat-label>{{'PERFIL.PASSWORD' | translate}}</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>create</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
  </div>  

</div>

<!--<mat-grid-list id="grid" cols="3" rowHeight="873px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Usuário</mat-card-title>
              <mat-card-subtitle>Grupo/atribuição</mat-card-subtitle>
            </mat-card-header>
            Salve
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>-->