<div class="minha-conta">
    <h1 class="mat-title title">Minha Conta</h1>
</div>


<div class="dados-conta">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Dados da Conta">
      <form class="example-form">
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Fulano (Hard-coded; Mudar)">
          </mat-form-field>
        </p>
      
        <p>
          <mat-form-field class="example-full-width">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="" value="">
          </mat-form-field>
        </p>
      </form>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="configuracoes">
    <mat-tab-group mat-align-tabs="center">
        <mat-tab label="Organizador">
          <div class="container-conf">
            <h5 class="margin-tops">Dados Cadastrais</h5>  
            <mat-card class="card-dados-cad margin-tops">
              <div class="card-icon-container">
                <mat-icon class="icon-card">assignment</mat-icon>
              </div>
              <div class="card-text-container">
                <p class="card-text">
                  Para publicar eventos pagos, faça seu cadastro. É rápido, basta inserir seus dados.
                </p>
              </div>
              <div class="card-button-container">
                <button mat-stroked-button class="conf-button card-button">Cadastrar Dados</button>
              </div>
            </mat-card>

            <h5 class="margin-tops">Conta de Repasse</h5> 
            

            <div class="custom-box custom-box-1 margin-tops">
              <h5 class="centered-text">
                [Contas de Repasse cadastradas; Se não tiver nenhuma, "Nenhuma conta de repasse cadastrada"];
              </h5>
            </div>

            <button mat-raised-button color="primary" class="margin-tops conf-button">Cadastrar Conta</button>

            <mat-divider class="margin-tops"></mat-divider>

            <h5 class="margin-tops">Dados da Nota fiscal</h5> 

            <div class="custom-box custom-box-2 margin-tops">
              <p class="centered-text">
                Para alterar os dados de nota fiscal, atualize seu cadastro, <a>clicando aqui</a>.
              </p>
            </div>

            <div class="custom-box custom-box-1 margin-tops">
              <div class="custom-box-1-de-2">
                <h5 class="centered-vertical margin-left">
                  Nome
                </h5>
              </div>
              <div class="custom-box-1-de-2">
                <h5 class="centered-vertical margin-left">
                  Endereço
                </h5>
              </div>

              <p class="margin-tops">
                [Nenhum dado de nota fiscal cadastrado. Hardcoded: Mudar]
              </p>

              <mat-divider class="margin-tops"></mat-divider>

              <h5 class="margin-tops">Compartilhar Eventos da Minha Contal</h5> 

              <button mat-raised-button color="primary" class="margin-tops conf-button">Convidar Colaborador</button>

              <div class="custom-box custom-box-1 margin-tops">
                <div class="custom-box-1-de-3">
                  <h5 class="centered-vertical margin-left">
                    Colaborador
                  </h5>
                </div>
                <div class="custom-box-1-de-3">
                  <h5 class="centered-vertical margin-left">
                    Acesso
                  </h5>
                </div>
                <div class="custom-box-1-de-3">
                  <h5 class="centered-vertical margin-left">
                    Status
                  </h5>
                </div>
              </div>


              <p class="margin-tops">
                [Sua conta não possui colaboradores. Hardcoded]
              </p>
              <p>
                [Nenhum acesso foi configurado ainda. Hardcoded]
              </p>

              <mat-divider class="margin-tops"></mat-divider>

              <h5 class="margin-tops">Preferências de notificação</h5>

              <div class="margin-tops">
                <mat-checkbox>Notificar-me cada vez que um participante realizar uma compra</mat-checkbox>
                <mat-checkbox>Quero receber as novidades da Sympla por e-mail.</mat-checkbox>
              </div>
            


            </div>
          </div>
        </mat-tab>
        <mat-tab label="Comprador">
          "O hipopótamo-comum (Hippopotamus amphibius) ou hipopótamo-do-nilo é um mamífero ornivóro de grande porte da África subsariana e uma das duas únicas espécies não extintas da família Hippopotamidae, sendo a outra o hipopótamo-pigmeu (Choeropsis liberiensis ou Hexaprotodon liberiensis)."
        </mat-tab>
    </mat-tab-group>

</div>

<!--<mat-grid-list id="grid" cols="3" rowHeight="873px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Usuário</mat-card-title>
              <mat-card-subtitle>Grupo/atribuição</mat-card-subtitle>
            </mat-card-header>
            Salve
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>-->