<div class="main-container">

  <div class="minha-conta">
      <h1 class="mat-title title">{{'PERFIL.MYACC' | translate}}</h1>
  </div>

  <div class="dados-conta">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="{{'PERFIL.ACCINFO' | translate}}">
        <form [formGroup]="form" class="form_edit">
          <p>
            <mat-form-field class="example-full-width">
              <mat-label>{{'PERFIL.NAME' | translate}}</mat-label>
              <input formControlName="nome" required matInput value="{{ loginService.usuarioInfo.nomeUser }}">
            </mat-form-field>
          </p>
          <p>
            <button (click)="openDialogEdit('nome')">
              <mat-icon>edit</mat-icon>
            </button>
          </p>

          <p *ngIf="loginService.usuarioInfo.tipConta == 'P'">
            <mat-form-field class="example-full-width">
              <mat-label>{{'PERFIL.EMAIL' | translate}}</mat-label>
              <input formControlName="email" required matInput value="{{ loginService.usuarioInfo.email }}">
            </mat-form-field>
          </p>
          <p *ngIf="loginService.usuarioInfo.tipConta == 'P'">
            <button (click)="openDialogEdit('email')">
              <mat-icon>edit</mat-icon>
            </button>
          </p>

          <p>
            <mat-form-field class="example-full-width">
              <mat-label>{{'PERFIL.BIRTHDAY' | translate}}</mat-label>
              <input formControlName="dtNasc" *ngIf="!loginService.usuarioInfo.dtNasc" required matInput value="{{'PERFIL.NOTINFORMED' | translate}}">
              <input formControlName="dtNasc" *ngIf="loginService.usuarioInfo.dtNasc" required matInput value="{{ loginService.usuarioInfo.dtNasc.slice(8, 10) + '/' + loginService.usuarioInfo.dtNasc.slice(5, 7) + '/' + loginService.usuarioInfo.dtNasc.slice(0, 4)}}">
            </mat-form-field>
          </p>
          <p>
            <button (click)="openDialogEdit('dtNasc')">
              <mat-icon>edit</mat-icon>
            </button>
          </p>

          <p>
            <mat-form-field class="example-full-width">
              <mat-label>{{'PERFIL.SEX' | translate}}</mat-label>
              <input formControlName="sexo" *ngIf="!loginService.usuarioInfo.sexo || loginService.usuarioInfo.sexo == 'N'" required matInput value="{{'PERFIL.NOTINFORMED' | translate}}">
              <input formControlName="sexo" *ngIf="loginService.usuarioInfo.sexo && loginService.usuarioInfo.sexo == 'M'" required matInput value="{{'SEXO.MASC' | translate}}">
              <input formControlName="sexo" *ngIf="loginService.usuarioInfo.sexo && loginService.usuarioInfo.sexo == 'F'" required matInput value="{{'SEXO.FEM' | translate}}">
              <input formControlName="sexo" *ngIf="loginService.usuarioInfo.sexo && loginService.usuarioInfo.sexo == 'T'" required matInput value="{{'SEXO.TRANS' | translate}}">
              <input formControlName="sexo" *ngIf="loginService.usuarioInfo.sexo && loginService.usuarioInfo.sexo == 'O'" required matInput value="{{'SEXO.OUTRO' | translate}}">
            </mat-form-field>
          </p>
          <p>
            <button (click)="openDialogEdit('sexo')">
              <mat-icon>edit</mat-icon>
            </button>
          </p>

          <p *ngIf="loginService.usuarioInfo.tipConta == 'P'">
            <mat-form-field class="example-full-width">
              <mat-label>{{'PERFIL.PASSWORD' | translate}}</mat-label>
              <input formControlName="senha" required matInput value="********">
            </mat-form-field>
          </p>
          <p *ngIf="loginService.usuarioInfo.tipConta == 'P'">
            <button (click)="openDialogEdit('senha')">
              <mat-icon>edit</mat-icon>
            </button>
          </p>

        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="configuracoes">
      <mat-tab-group mat-align-tabs="center">
          <mat-tab label="{{'PERFIL.PLANNER' | translate}}">
            <div class="container-conf">
              <h1 class="mat-title margin-tops">{{'PERFIL.PLANNERCONF' | translate}}</h1>
              <h5 class="margin-tops">{{'PERFIL.REGINFO' | translate}}</h5>  
              <mat-card class="card-dados-cad margin-tops">
                <div class="card-icon-container">
                  <mat-icon class="icon-card">assignment</mat-icon>
                </div>
                <div class="card-text-container">
                  <p class="card-text">
                    {{'PERFIL.TOPUBLISH' | translate}}
                  </p>
                </div>
                <div class="card-button-container">
                  <button mat-stroked-button class="purple-back conf-button card-button">{{'PERFIL.ENTERINFO' | translate}}</button>
                </div>
              </mat-card>

              <h5 class="margin-tops">{{'PERFIL.REPASSINGACC' | translate}}</h5> 
              

              <div class="custom-box custom-box-1 margin-tops">
                <h5 class="centered-text">
                  [Contas de Repasse cadastradas; Se não tiver nenhuma, "Nenhuma conta de repasse cadastrada"];
                </h5>
              </div>

              <button mat-raised-button class="margin-tops conf-button purple-back">{{'PERFIL.ENTERACC' | translate}}</button>

              <mat-divider class="margin-tops"></mat-divider>

              <h5 class="margin-tops">{{'PERFIL.INVOICEINFO' | translate}}</h5> 

              <div class="custom-box custom-box-2 margin-tops">
                <p class="centered-text">
                  <a>{{'PERFIL.UPDATEINVOICEINFO' | translate}}</a>
                </p>
              </div>

              <div class="custom-box custom-box-1 margin-tops">
                <div class="custom-box-1-de-2">
                  <h5 class="centered-vertical margin-left">
                    {{'PERFIL.NAME' | translate}}
                  </h5>
                </div>
                <div class="custom-box-1-de-2">
                  <h5 class="centered-vertical margin-left">
                    {{'PERFIL.ADDRESS' | translate}}
                  </h5>
                </div>

                <p class="margin-tops">
                  [Nenhum dado de nota fiscal cadastrado. Hardcoded: Mudar]
                </p>

                <mat-divider class="margin-tops"></mat-divider>

                <h5 class="margin-tops">{{'PERFIL.SHAREEVENTS' | translate}}</h5> 

                <button mat-raised-button color="primary" class="purple-back margin-tops conf-button">{{'PERFIL.INVITECOLLAB' | translate}}</button>

                <div class="custom-box custom-box-1 margin-tops">
                  <div class="custom-box-1-de-3">
                    <h5 class="centered-vertical margin-left">
                      {{'PERFIL.COLLAB' | translate}}
                    </h5>
                  </div>
                  <div class="custom-box-1-de-3">
                    <h5 class="centered-vertical margin-left">
                      {{'PERFIL.ACCESS' | translate}}
                    </h5>
                  </div>
                  <div class="custom-box-1-de-3">
                    <h5 class="centered-vertical margin-left">
                      Status
                    </h5>
                  </div>
                </div>


                <p class="margin-tops">
                  [Sua conta não possui colaboradores. Hardcoded]
                </p>
                <p>
                  [Nenhum acesso foi configurado ainda. Hardcoded]
                </p>

                <mat-divider class="margin-tops"></mat-divider>

                <h5 class="margin-tops">{{'PERFIL.NOTIFPREFER' | translate}}</h5>

                <div class="margin-tops">
                  <mat-checkbox>{{'PERFIL.NOTIFY' | translate}}</mat-checkbox>
                  <mat-checkbox>{{'PERFIL.EMAILNEWS' | translate}}</mat-checkbox>
                </div>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="{{'PERFIL.PURCHASES' | translate}}">
            <h1 class="mat-title margin-tops">{{'PERFIL.PURCHASINGINFO' | translate}}</h1>
            <button mat-raised-button class="purple-back margin-tops right-button">{{'PERFIL.EDITINFO' | translate}}</button>
            <form class="example-form">
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.NAMEONCARD' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>



              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>CPF</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field>
                  <mat-label>{{'PERFIL.BIRTHDAY' | translate}}</mat-label>
                  <input (click)="picker.open()" disabled  #dtnascCadastro matInput required maxlength="10" [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
                  <mat-datepicker #picker ></mat-datepicker>
              </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.TELEPHONE' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.ZIPS' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.ADDRESS' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.DISTRICT' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.NUMBER' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.ADDRESS2' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.CITY' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
              <p>
                <mat-form-field class="example-full-width">
                  <mat-label>{{'PERFIL.STATE' | translate}}</mat-label>
                  <input matInput disabled  placeholder="" value="">
                </mat-form-field>
              </p>
      
            </form>
          </mat-tab>
      </mat-tab-group>

  </div>
</div>
<!--<mat-grid-list id="grid" cols="3" rowHeight="873px">
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Usuário</mat-card-title>
              <mat-card-subtitle>Grupo/atribuição</mat-card-subtitle>
            </mat-card-header>
            Salve
          </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
</mat-grid-list>-->