<h1 mat-dialog-title>{{'ALERTASEGURANCA.TITLE' | translate}}</h1>
<div mat-dialog-content>
    <p class="message">{{'NOTIFICACAO.SEGURANCA1' | translate}} "{{ notificacao.notificacaoArea.nomeArea }}", {{'NOTIFICACAO.SEGURANCA2' | translate}} "{{ notificacao.notificacaoArea.nomeFesta }}", {{'NOTIFICACAO.SEGURANCA3' | translate}}: {{ 'RELATARPROB.' + notificacao.notificacaoArea.descProblema | translate }}. {{'NOTIFICACAO.SEGURANCA4' | translate}}</p>
    <p><strong>{{'FESTA.PARTYNAME' | translate}}:</strong> {{notificacao.notificacaoArea.nomeFesta}}</p>
    <p><strong>{{'AREASEGURANCA.AREA' | translate}}:</strong> {{notificacao.notificacaoArea.nomeArea}}</p>
    <p><strong>{{'AREASEGURANCA.PROBLEMA' | translate}}:</strong> {{ 'RELATARPROB.' + notificacao.notificacaoArea.descProblema | translate }}</p>
    <p><strong>{{'ALERTASEGURANCA.DESCRICAO' | translate}}:</strong> {{notificacao.notificacaoArea.descProblemaRelatado}}</p>
    <form [formGroup]="form">
        <mat-form-field class="texto-input">
            <mat-label>{{'PROBLEMADETALHES.OBSERVACOES' | translate}}</mat-label>
            <textarea #observacaoSolucao formControlName="observacaoSolucao" required matInput></textarea>
            <mat-error *ngIf="f.observacaoSolucao.errors?.required">{{'FORMERRORS.REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <br>
        <div class="botoes">
            <button class="botoes__btn botao-finalizado" [disabled]="!form.valid" mat-raised-button color="primary" (click)="alterarStatus('F')">
                {{"PROBLEMADETALHES.MARCARCOMO" | translate}} {{"RELATARPROB.F" | translate}}
            </button>
        </div>
        <div class="botoes">
            <button class="botoes__btn" [disabled]="!form.valid" mat-raised-button color="primary" (click)="alterarStatus('E')">
                {{"PROBLEMADETALHES.MARCARCOMO" | translate}} {{"RELATARPROB.E" | translate}}
            </button>
        </div>
    </form>
    <div class="center">
        <p><strong>{{ 'ALERTASEGURANCA.OU' | translate }}</strong></p>
    </div>
    <div class="botoes">
        <button class="botoes__btn" mat-raised-button mat-dialog-close color="primary" ><a routerLink="{{ getUrlFesta() }}">{{'ALERTASEGURANCA.REDIRECIONAR' | translate}}</a></button>
    </div>
</div>